<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>
	
	<div id="layoutSidenav">
	
		<div th:replace="plantilla/template :: sidenav_nav"> </div>
		
		<div id="layoutSidenav_content">
			
			<div class="container-fluid px-4 mt-3">
				 
				 <div th:replace="plantilla/template :: mensajes"></div>
				
				<div class="d-md-flex justify-content-between">
					<h1 class="">Listado de Eventos</h1>					
					<a  class="nav-link" th:href="@{/views/evento/ver-eventos}"><i
						class="fa-solid fa-file-circle-check"></i> Ver Registros</a>
				</div>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-calendar-days"></i> Eventos</li>
				</ol>
				
					
			</div>
			
		</div>
	
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
	<script th:inline="javascript">
		
	
	</script>
</body>
</html>