<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<div th:replace="plantilla/template :: mensajes"></div>

				<h1 class="">Administrar Proveedores</h1>
				<ol class="breadcrumb mb-3">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-truck-field"></i> Proveedores</li>
				</ol>

				<div class="row d-md-flex justify-content-center">

					<div class="col-8" id="editarCard" style="display: none;">
						<form method="post" id="formId">
							<div class="card">
								<div class="card-header bg-dark text-white" id="tituloCard">Editar
									Proveedor:</div>

								<div class="card-body row mb-2">
									
									<input type="hidden" id="IdInput" value="0" name="idProveedor">
									
									<div class="col-6">
				
										<label>Proveedor:</label> <input type="text" id="editProv" required
											name="nombreProveedor" class="form-control"> <label
											class="mt-2">Descripción:</label> <input id="editDesc" required
											type="text" class="form-control" name="descripcion">
										<label class="mt-2">Activo:</label> <select id="editActivo"
											name="activo" class="form-select">
											<option value=1 selected>Sí</option>
											<option value=0>No</option>
										</select>


									</div>
									<div class="col-6">

										<div class="d-md-flex justify-content-center  g-0 ">
											<div class="col-md-6">
												<img id="file-ip-1-preview" src="/images/proveedor.jpg"
													width="100%" height="auto">
											</div>
										</div>

									</div>

								</div>


								<div
									class="card-footer d-md-flex justify-content-between bg-dark text-white">
									<button class="btn btn-secondary" type="button"
										onclick="cerrarNuevo()">Cancelar</button>
									<button class="btn btn-primary" type="submit">Guardar</button>
								</div>

							</div>
						</form>
					</div>

				</div>

				<div class="card mb-4 mt-3">
					<div class="card-header d-md-flex justify-content-between">
						<div class="">
							<i class="fa-solid fa-table mt-2"></i> Listado de Proveedores:
						</div>
						<div>
							<button class="btn btn-primary btn-sm" onclick="nuevoCard()">Nuevo
								Proveedor</button>
						</div>
					</div>
					<div class="card-body">

						<table id="table_id" class="display">
							<thead>
								<tr>
									<th>Proveedor</th>
									<th>Descripción</th>
									<th>Activo</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>

					</div>
				</div>


			</div>

		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		
		var datatable;
				
		$(document)
				.ready(
						function() {
							
							let listaProveedores = /*[[${listaProveedores}]]*/'default';
														
							datatable = $('#table_id')
									.DataTable(
											{	
												data: listaProveedores,
												"autoWidth" : false,
												language : {
													"decimal" : "",
													"emptyTable" : "No hay información",
													"info" : "Mostrando _START_ a _END_ de _TOTAL_ Proveedores",
													"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
													"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
													"infoPostFix" : "",
													"thousands" : ",",
													"lengthMenu" : "Mostrar _MENU_ Proveedores",
													"loadingRecords" : "Cargando...",
													"processing" : "Procesando...",
													"search" : "Buscar:",
													"zeroRecords" : "Sin resultados encontrados",
													"paginate" : {
														"first" : "Primero",
														"last" : "Ultimo",
														"next" : "Siguiente",
														"previous" : "Anterior"
													}
												},
												"columnDefs" : [ {
													"className" : "dt-center",
													"targets" : "_all"
												} ]
												,
												columns: [
								                    { data: 'proveedor' },
								                    { data: 'descripcion' },
								                    {
								                        "data":"activo", "render": function (valor){
								                            if(valor) return '<span>Sí</span>';
								                            else return '<span>No</span>';
								                        }
								                    },
								                    {
								                    "defaultContent": '<button type="button" class=" btn btn-success btn-sm btn-editar"><i class="fas fa-pen"></i></button>',
								                    "orderable": false,
								                    "searcheble": false,
								                    "width": "90px"
								                    }
								                ]
											});
						});
		
				
		function nuevoCard() {
			
			$("#IdInput").val(0);
			$("#editProv").val("");
			$("#editDesc").val("");
			$("#editActivo").val(1);

			$("#tituloCard").text("Crear Nuevo Proveedor");
			$("#file-ip-1-preview").attr('src', "/images/proveedor.jpg");

			$('#formId').attr('action', '/views/proveedor/crear');

			$("#editarCard").show();

		}

		$("#table_id tbody").on("click", '.btn-editar', function() {
			let filaSeleccionada = (this).closest("tr");
			let data = datatable.row(filaSeleccionada).data();
			
			$("#IdInput").val(data.idProveedor);
			$("#editProv").val(data.proveedor);
			$("#editDesc").val(data.descripcion);
			$("#editActivo").val(data.activo ? 1 : 0);
			
			$("#tituloCard").text("Editar Proveedor");
			
			$('#formId').attr('action', '/views/proveedor/editar');
			
			$("#editarCard").show();
		});

		function cerrarNuevo() {

			$("#editImagen").val("");

			$("#editarCard").hide();
		}
	</script>
</body>
</html>