<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<div th:replace="plantilla/template :: mensajes"></div>

				<div class="d-md-flex justify-content-between">

					<h1 class="">Registrar Rondas</h1>

					<a class="nav-link" th:href="@{/views/ronda/registros}"><i
						class="fa-solid fa-file-circle-check"></i> Ver Registros</a>

				</div>
				<ol class="breadcrumb mb-3 ">

					<li class="breadcrumb-item active"><i
						class="fa-solid fa-clock"></i> Ronda</li>

				</ol>


				<div class="card text-dark bg-light mb-2 mt-1">
					<div class="card-header">Nuevo Registro:</div>

					<div class="card-body">

						<form method="post" th:action="@{/views/ronda/crear}">
							<div class="mb-3 row">

								<div class="col-md-6">
									<label class="ronda">Ronda: </label>
									<div></div>
									<input id="rondaAux" type="time" class="form-control" disabled>

									<input id="ronda" name="ronda" type="time" class="form-control"
										hidden>
								</div>
								
								<div class="col-md-6">
									<label class="ronda">Planta: </label>
									<div></div>
									<input id="plantaId" type="text" class="form-control" disabled >

									<input id="planta" name="planta" type="number" class="form-control"
										hidden>
								</div>

							</div>

							<div class="mb-3">
								<label for="descripcion" class="form-label">Descripción:
								</label>
								<textarea class="form-control" id="descripcion" rows="2"
									name="desc" required></textarea>

							</div>

							<div class=" d-md-flex justify-content-end">
								<button type="submit" class="btn btn-secondary">Registrar</button>
							</div>
						</form>
					</div>
				</div>

				<table class="table" id="myTable" style="text-align: center;">
					<thead>
						<tr>
							<th scope="col" style="width: 15%;">Ronda</th>
							<th scope="col" style="width: 25%;">Descripción</th>
							<th scope="col" style="width: 20%;">Fecha</th>
							<th scope="col" style="width: 20%;">Planta</th>
							<th scope="col" style="width: 20%;">Guardia</th>

						</tr>
					</thead>
					<tbody class="list-font">

						<tr th:each="ac:${listaRondas}">

							<th scope="row" th:text="${ac.ronda}" style="text-align: center;"></th>
							<td th:text="${ac.descripcion}" style="text-align: center;"></td>
							<td th:text="${#dates.format(ac.fechaRonda, 'dd/MM/yyyy')}"
								style="text-align: center;"></td>
							<td th:text="${ac.planta}" style="text-align: center;"></td>
							<td style="text-align: center;">[[${ac?.usuario?.apellido}]] [[${ac?.usuario?.nombre}]]</td>

						</tr>

					</tbody>
				</table>
			</div>


		</div>

	</div>
	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		let listaRondas = /*[[${listaRondas}]]*/'default';

		function SetTimeRondaYPlanta() {

			let date = new Date();
			var currentTime = date.toString().substring(16, 21);

			$("#ronda").val(currentTime);
			$("#rondaAux").val(currentTime);
			
			let plantaAux = 'No definida';
			
			if($("#plantaSelect").val() == 1) plantaAux = 'Av. Facundo Zuviría 4740 - Planta I';
			else if($("#plantaSelect").val() == 2) plantaAux = 'Av. Peñaloza 5750 - Planta II';
			
			$("#plantaId").val(plantaAux);
			$("#planta").val($("#plantaSelect").val());
		}

		SetTimeRondaYPlanta();
		
								
		sortTable();

		function sortTable() {
			var table, rows, switching, i, x, y, shouldSwitch;
			table = document.getElementById("myTable");
			switching = true;

			while (switching) {

				switching = false;
				rows = table.rows;

				for (i = 1; i < (rows.length - 1); i++) {
					
					shouldSwitch = false;

					x = rows[i].getElementsByTagName("TH")[0];
					y = rows[i + 1].getElementsByTagName("TH")[0];

					if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

						shouldSwitch = true;
						break;
					}
				}
				if (shouldSwitch) {
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
				}
			}
		}
		
		
	</script>
</body>
</html>