<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<div th:replace="plantilla/template :: mensajes"></div>

				<div class="d-md-flex justify-content-between">

					<h1 class="">Registrar Rondas</h1>

					<a class="nav-link" th:href="@{/views/ronda/registros}"><i
						class="fa-solid fa-file-circle-check"></i> Ver Registros</a>

				</div>
				<ol class="breadcrumb mb-4 ">

					<li class="breadcrumb-item active"><i
						class="fa-solid fa-clock"></i> Ronda</li>

				</ol>


				<div class="card text-dark bg-light mb-3 mt-1">
					<div class="card-header">Nuevo Registro:</div>

					<div class="card-body">

						<form method="post" th:action="@{/views/ronda/crear}">
							<div class="mb-3">
								<label class="ronda">Ronda: </label>
								<div></div>
								<input id="rondaAux" type="time" class="form-control" disabled>

								<input id="ronda" name="ronda" type="time" class="form-control"
									hidden>
							</div>

							<div class="mb-3">
								<label for="descripcion" class="form-label">Descripción:
								</label>
								<textarea class="form-control" id="descripcion" rows="3"
									name="desc" required></textarea>

							</div>

							<input type="text" hidden value="Planta I - Av. Facundo"
								name="planta" required>

							<div class=" d-md-flex justify-content-end">
								<button type="submit" class="btn btn-secondary">Registrar</button>
							</div>
						</form>
					</div>
				</div>

				<table class="table" id="myTable" style="text-align: center;">
					<thead>
						<tr>
							<th scope="col" style="width: 20%;">Ronda</th>
							<th scope="col" style="width: 30%;">Descripción</th>
							<th scope="col" style="width: 20%;">Fecha</th>
							<th scope="col" style="width: 30%;">Guardia</th>

						</tr>
					</thead>
					<tbody>

						<tr th:each="ac:${listaRondas}">

							<th scope="row" th:text="${ac.ronda}" style="text-align: center;"></th>
							<td th:text="${ac.descripcion}" style="text-align: center;"></td>
							<td th:text="${#dates.format(ac.fechaRonda, 'dd/MM/yyyy')}"
								style="text-align: center;"></td>
							<td style="text-align: center;">[[${ac?.usuario?.nombre}]]
								[[${ac?.usuario?.apellido}]]</td>

						</tr>

					</tbody>
				</table>
			</div>


		</div>

	</div>
	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		let listaRondas = /*[[${listaRondas}]]*/'default';


		function SetTimeRonda() {

			let date = new Date();
			var currentTime = date.toString().substring(16, 21);

			document.getElementById('ronda').value = currentTime;
			document.getElementById('rondaAux').value = currentTime;

		}

		SetTimeRonda();
	</script>
</body>
</html>