<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">
				
				<div th:replace="plantilla/template :: mensajes"></div>
				
				<h1 class="">Registrar Retiro</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-boxes"></i> Retiro de Material</li>
				</ol>


				<h5 class="mt-3">Buscar autorización:</h5>

				<input type="text" id="formulario" class="form-control">

				<div class="row mt-3" id="cardRetiro">

					

				</div>

			</div>

		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		
		let listaAutorizaciones = /*[[${listaAutorizaciones}]]*/ 'default';
			
		const formulario = document.querySelector('#formulario');
		const resultado = document.querySelector('#cardRetiro');
		
		let plantaAux = 'No definida';
		
		if($("#plantaSelect").val() == 1) plantaAux = 'Av. Facundo Zuviría 4740 - Planta I';
		else if($("#plantaSelect").val() == 2) plantaAux = 'Av. Peñaloza 5750 - Planta II';
		
		const filtrar = () => {
			resultado.innerHTML = ''
			
			const texto = formulario.value.toLowerCase();
			
			for(let aut of listaAutorizaciones){
				
				let urlRetiro= "/views/retiro-material/retiro/" + aut.idAutorizacion;
				let materialesId = 'materiales' + aut.idAutorizacion;
				let myform = 'myform' + aut.idAutorizacion;
				let idPlanta = "planta" + aut.idAutorizacion;
									
				if(aut.empleado != null){
					let nombre = aut.empleado.nombre.toLowerCase();
					let apellido = aut.empleado.apellido.toLowerCase();
					let empleado = aut.empleado.nombre.toLowerCase(); + " " + aut.empleado.apellido.toLowerCase();
					
					if(nombre.indexOf(texto) !== -1 || apellido.indexOf(texto) !== -1 || empleado.indexOf(texto) !== -1){
											
						resultado.innerHTML += `
							<div class="col-sm-6 mt-3">
								<form action=${urlRetiro} method="post"
								 id=${myform}>
									<div class="card text-dark bg-light mb-3" >
										<h5 class="card-header">Autorización de retiro:</h5>
									<div class="card-body">
										
										
										<ul class="list-group list-group-flush">
										  <li class="list-group-item bg-light">Empleado Autorizado: ${aut?.empleado?.apellido}
											${aut?.empleado?.nombre}</li>
										  <li class="list-group-item bg-light">Autorizante: ${aut?.usuario?.apellido} ${aut?.usuario?.nombre}</li>
										  <li class="list-group-item bg-light">Descripción: ${aut?.descripcion}</li>
										  <li class="list-group-item bg-light">Planta: ${plantaAux}</li>
										  <li class="list-group-item bg-light">
										  	<label for="exampleInput1" class="form-label">Materiales:</label>
											<select class="form-select"
												multiple aria-label="multiple select example" name=${materialesId}
												id=${materialesId} disabled>
												</select>
										  </li>
										  <li class="list-group-item bg-light">Fecha límite: ${darFormatoFechaCompleta(new Date(aut.fechaLimite))}</li>
										  <li class="list-group-item bg-light">
										  	<label for="observacionGuardia">Observación:</label> <input type="text"
												class="form-control" id="observacionGuardia"
												name="observacionGuardia" form=${myform}>
										  </li>
										</ul>
										
										<input type="number" id=${idPlanta} name="planta" value=${$("#plantaSelect").val()} hidden form=${myform}>
										
									</div>
									<div class="card-footer" > 
														
											<div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
												<input type="submit" class="btn btn-primary btn-sm "
													value="Confirmar Retiro" />
											</div>
														
									</div>
								</div>
							</form>
						</div>
						`;
																							
						SetMateriales(materialesId, aut);
					}
				}
				else{
					let retiroExterno = 'retiro externo'.toLowerCase();
					
					if(retiroExterno.indexOf(texto) !== -1){
						
						resultado.innerHTML += `
							<div class="col-sm-6 mt-2">
								<form action=${urlRetiro} method="post"
								 id=${myform}>
									<div class="card text-dark bg-light mb-3">
										<h5 class="card-header" >Autorización de retiro:</h5>
									<div class="card-body">							
										<ul class="list-group list-group-flush">
										  <li class="list-group-item bg-light">Retiro Externo</li>
										  <li class="list-group-item bg-light">Autorizante: ${aut?.usuario?.apellido} ${aut?.usuario?.nombre}</li>
										  <li class="list-group-item bg-light">Descripción: ${aut?.descripcion}</li>
										  <li class="list-group-item bg-light">Planta: ${plantaAux}</li>
										  <li class="list-group-item bg-light">
										  	<label for="exampleInput1" class="form-label">Materiales:</label>
											<select class="form-select"
												multiple aria-label="multiple select example" name=${materialesId}
												id=${materialesId} disabled>
											</select>
										  </li>
										  <li class="list-group-item bg-light">Fecha límite: ${darFormatoFechaCompleta(new Date(aut.fechaLimite))}</li>
										  <li class="list-group-item bg-light">
										  	<label for="observacionGuardia">Observación:</label> <input type="text"
												class="form-control" id="observacionGuardia"
												name="observacionGuardia" form=${myform}>
										  </li>
										</ul>
										
										<input type="number" id=${idPlanta} name="planta" value=${$("#plantaSelect").val()} hidden form=${myform}>
										
									</div>
									<div class="card-footer" > 																		
										<div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
											<input type="submit" class="btn btn-primary btn-sm "
												value="Confirmar Retiro" />
										</div>											
									</div>									
								</div>
							</form>
						</div>
						`;
						
						SetMateriales(materialesId, aut);
						
					}
				}
				
			}
		}
		
		function SetMateriales(materialesId, aut){
			
			const materialSelect = document.getElementById(materialesId);
					
			for(let mat of aut.materiales){
				
				materialSelect.innerHTML += `<option value=${mat.id_material}>${mat.material}</option>`;
			} 				
		}
		
		
		formulario.addEventListener('keyup', filtrar);
		filtrar();
	
	</script>
</body>
</html>