<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<h1 class="">Registrar Retiro</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-boxes"></i> Retiro de Material</li>
				</ol>


				<h5 class="mt-3">Buscar autorización:</h5>

				<input type="text" id="formulario" class="form-control">

				<div class="row mt-3" id="cardRetiro">

					<div class="col-sm-6 mt-3">
						<div class="card text-dark bg-light mb-3">
							<h5 class="card-header">Autorización de retiro:</h5>
							<div class="card-body">

								<ul class="list-group list-group-flush">
									<li class="list-group-item bg-light">Empleado autorizado:
										Emiliano Mendoza</li>
									<li class="list-group-item bg-light">Autorizante: Celina
										Del Turco</li>
									<li class="list-group-item bg-light">Descripción: Retira
										lo que quiera</li>
									<li class="list-group-item bg-light"><label
										for="exampleInput1" class="form-label">Materiales:</label> <select
										class="form-select" multiple
										aria-label="multiple select example" disabled>
									</select></li>
									<li class="list-group-item bg-light">Fecha límite:
										22/05/2022</li>
									<li class="list-group-item bg-light"><label
										for="observacionGuardia">Observación:</label> <input
										type="text" class="form-control" id="observacionGuardia"
										name="observacionGuardia"></li>
								</ul>

							</div>
							<div class="card-footer">
								<form method="post">

									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<input type="submit" class="btn btn-primary btn-sm "
											value="Confirmar Retiro" />
									</div>

								</form>
							</div>
						</div>
					</div>

					<div class="col-sm-6 mt-3">
						<div class="card text-dark bg-light mb-3">
							<h5 class="card-header">Autorización de retiro:</h5>
							<div class="card-body">

								<ul class="list-group list-group-flush">
									<li class="list-group-item bg-light">Empleado autorizado:
										Emiliano Mendoza</li>
									<li class="list-group-item bg-light">Autorizante: Celina
										Del Turco</li>
									<li class="list-group-item bg-light">Descripción: Retira
										lo que quiera</li>
									<li class="list-group-item bg-light"><label
										for="exampleInput1" class="form-label">Materiales:</label> <select
										class="form-select" multiple
										aria-label="multiple select example" disabled>
									</select></li>
									<li class="list-group-item bg-light">Fecha límite:
										22/05/2022</li>
									<li class="list-group-item bg-light"><label
										for="observacionGuardia">Observación:</label> <input
										type="text" class="form-control" id="observacionGuardia"
										name="observacionGuardia"></li>
								</ul>

							</div>
							<div class="card-footer">
								<form method="post">

									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<input type="submit" class="btn btn-primary btn-sm "
											value="Confirmar Retiro" />
									</div>

								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6 mt-3">
						<div class="card text-dark bg-light mb-3">
							<h5 class="card-header">Autorización de retiro:</h5>
							<div class="card-body">

								<ul class="list-group list-group-flush">
									<li class="list-group-item bg-light">Empleado autorizado:
										Emiliano Mendoza</li>
									<li class="list-group-item bg-light">Autorizante: Celina
										Del Turco</li>
									<li class="list-group-item bg-light">Descripción: Retira
										lo que quiera</li>
									<li class="list-group-item bg-light"><label
										for="exampleInput1" class="form-label">Materiales:</label> <select
										class="form-select" multiple
										aria-label="multiple select example" disabled>
									</select></li>
									<li class="list-group-item bg-light">Fecha límite:
										22/05/2022</li>
									<li class="list-group-item bg-light"><label
										for="observacionGuardia">Observación:</label> <input
										type="text" class="form-control" id="observacionGuardia"
										name="observacionGuardia"></li>
								</ul>

							</div>
							<div class="card-footer">
								<form method="post">

									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<input type="submit" class="btn btn-primary btn-sm "
											value="Confirmar Retiro" />
									</div>

								</form>
							</div>
						</div>
					</div>


				</div>

			</div>

		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script type="text/javascript">
		
	</script>
</body>
</html>