<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">


				<h1 class="">Registros de Retiros</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-boxes"></i> Retiro de Material</li>
				</ol>


				<div class="card mb-4">
					<div class="card-header">
						<i class="fa-solid fa-table"></i> Registros de Retiros de
						Material:
					</div>
					<div class="card-body">

						<form id="filtroForm">
							<div class="row">

								<div class="col-md-9 row">
									<div class="col-md-4 pb-2">
										<label>Rango Fecha Límite: </label> <input type="text"
											id="date_range" name="date_range" class="form-control"
											autocomplete="off">

									</div>
									<div class="col-md-4 pb-2">
										<label for="a">Rango Fecha Retiro:</label> <input type="text"
											id="date_range2" name="date_range2" class="form-control"
											autocomplete="off">
									</div>
									<div class="col-md-4 pb-2 ">
										<label for="a">Empleado Autorizado:</label> <select
											class="form-select" id="empleadoSelect" name="nroLegajo">

										</select>
									</div>
									<div class="col-md-4 pb-2">
										<label for="a">Autorizante:</label> <select
											class="form-select" id="usuarioSelect1" name="idAutorizante">

										</select>
									</div>
									<div class="col-md-4 pb-2">
										<label for="a">Material:</label> <select class="form-select"
											id="materiales" name="idMaterial">

										</select>
									</div>
									<div class="col-md-4 pb-2">
										<label for="a">Guardia:</label> <select class="form-select"
											id="usuarioSelect2" name="idGuardia">

										</select>
									</div>
								</div>

								<div class="col-md-1 d-grid mt-2"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-primary mt-2"
										onclick="filtrarRegistros()">Filtrar</button>
								</div>
								
								<div class="col-md-1 d-grid mt-2"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-outline-danger mt-2"
										onclick="desfiltrar()">Desfiltrar</button>
								</div>
								
							</div>

						</form>

						<hr>

						<div class="mt-4"></div>



						<table id="table_id" class="display ">
							<thead>
								<tr>
									<th>Fecha Límite</th>
									<th>Fecha de Retiro</th>
									<th>Empleado Autorizado</th>
									<th>Autorizante</th>
									<th>Materiales</th>
									<th>Guardia</th>
									<th>Descripción</th>
									<th>Observación</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		var datatable;
		var listaAutorizaciones;

				
		$(document).ready(function() {
			
			listaAutorizaciones = /*[[${listaAutorizaciones}]]*/'default';
			
			setDataTable(listaAutorizaciones);
			
			jQuery.ajax({
				url : '/views/material',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
															
					$("#materiales").html(function() {
						
						let aux = '<option value=-1>Todos</option>';
						
						for(let material of data){
														
							aux += `<option value=${material.idMaterial}>${material.material}</option>`;
						}
						
						return aux;
					});

				}
			});
			
			jQuery.ajax({
				url : '/views/empleado',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.nroLegajo}>${dato.apellido} ${dato.nombre}</option>`;
						
					}					
					$("#empleadoSelect").html(aux);										
				}
			});
			
			jQuery.ajax({
				url : '/views/usuario/usuarios-activos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.idUsuario}>${dato.apellido} ${dato.nombre}</option>`;
						
					}
					
					$("#usuarioSelect1").html(aux);
					$("#usuarioSelect2").html(aux);
				}
			});
			
		});
		
		
		function setDataTable(datos){
			
			if(datatable != null){
				datatable.clear();
				datatable.destroy();
			}
			
			datatable = $('#table_id').DataTable({
				data: datos,
				language : {
					"decimal" : "",
					"emptyTable" : "No hay información",
					"info" : "Mostrando _START_ a _END_ de _TOTAL_ Registros",
					"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
					"infoPostFix" : "",
					"thousands" : ",",
					"lengthMenu" : "Mostrar _MENU_ Registros",
					"loadingRecords" : "Cargando...",
					"processing" : "Procesando...",
					"search" : "Buscar:",
					"zeroRecords" : "Sin resultados encontrados",
					"paginate" : {
						"first" : "Primero",
						"last" : "Ultimo",
						"next" : "Siguiente",
						"previous" : "Anterior"
					}
				},
				"columnDefs" : [ {
					"className" : "dt-center",
					"targets" : "_all"
				} ]
				,
				"autoWidth" : false,
				columns: [
					{
                        "data":"fechaLimite", "render": function (valor){
                        	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDD(new Date(valor))}</span>${darFormatoFechaSimple(new Date(valor))}</td>` : `<td>-</td>`;
                        }
                    },
                    {
                        "data":"retiro", "render": function (valor){                        	
                        	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDDhhmm(new Date(valor.fechaRetiro))}</span>${darFormatoFechaCompleta(new Date(valor.fechaRetiro))}</td>` : `<td>-</td>`;
                        }
                    },
                    {
                        "data":"empleado", "render": function (valor){
                        	return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;
                        }
                    },
                    {
                        "data":"usuario", "render": function (valor){
                        	return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;
                        }
                    },
                    {
                        "data":"materiales", "render": function (valor){
                        	return valor != null && valor !== undefined ? `<span>${formatMaterial(valor)}</span>` : `<span>-</span>`;
                        }
                    },
                    {
                    	"data":"retiro", "render": function (valor){
                        	return valor != null && valor !== undefined ? `<span>${valor?.usuario?.apellido} ${valor?.usuario?.nombre}</span>` : `<span>-</span>`;
                        }
                    },
                    { data: 'descripcion' ,
                    	"orderable": false},
                   	{
                       	"data":"retiro", "render": function (valor){
                           	return valor != null && valor !== undefined ? `<span>${valor?.observacion}</span>` : `<span>-</span>`;
                           }
                    	,
                    	"orderable": false
                    }
                ]
				
			}).order( [ 0, 'desc' ]).draw();
			
		}
		
		function desfiltrar(){
			setDataTable(listaAutorizaciones);						
		}
		
		function filtrarRegistros(){
			
			jQuery.ajax({
				url : '/views/retiro-material/autorizaciones/filtrar',
				type : "GET",
				dataType : "json",
				data: $('#filtroForm').serialize(),
				contentType : "application/json; charset=utf-8",
				success : function(data) {										
					setDataTable(data);								
				}
			});	
			
		}
		
				
		function formatMaterial(lista){
			
			let materiales = '';
			
			lista.sort(function (a, b) {
								
				if (a.idMaterial > b.idMaterial) {
				   return 1;
				}
				if (a.idMaterial < b.idMaterial) {
				   return -1;
				}
				 
				return 0;
			});
			
			count = 1;
			
			for(let mat of lista){
				
				if(count == lista.length){
					materiales += mat.material + '.';
				}else{
					materiales += mat.material + ', ';
				}
				count++;				
			}
			
			return materiales;
		}
	</script>
</body>
</html>