<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">


				<h1 class="">Registros de Retiros</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-boxes"></i> Retiro de Material</li>
				</ol>


				<div class="card mb-4">
					<div class="card-header">
						<i class="fa-solid fa-table"></i> Registros de Retiros de
						Material:
					</div>
					<div class="card-body">


						<div class="row">

							<div class="col-md-9 row">
								<div class="col-md-4 pb-2">
									<label>Rango Fecha Límite: </label> <input type="text"
										id="date_range" name="date_range" class="form-control">

								</div>
								<div class="col-md-4 pb-2">
									<label for="a">Rango Fecha Retiro:</label> <input type="text"
										id="date_range2" name="date_range2" class="form-control">
								</div>
								<div class="col-md-4 pb-2 ">
									<label for="a">Empleado autorizado:</label> <select
										class="form-select">
										<option value=1 selected>Mendoza Emiliano</option>
										<option value=2>Luís</option>
										<option value=3>Matías</option>
									</select>
								</div>
								<div class="col-md-4 pb-2">
									<label for="a">Autorizante:</label> <select class="form-select">
										<option value=1 selected>Mendoza Mariano</option>
										<option value=2>Tito el Loco</option>
										<option value=3>Del Turco Celina</option>
									</select>
								</div>
								<div class="col-md-4 pb-2">
									<label for="a">Material:</label> <select class="form-select">
										<option value=1 selected>Palet</option>
										<option value=2>Nilons</option>
										<option value=3>Cajas</option>
									</select>
								</div>
								<div class="col-md-4 pb-2">
									<label for="a">Guardia:</label> <select class="form-select">
										<option value=1 selected>Mendoza Mariano</option>
										<option value=2>Rubén</option>
										<option value=3>El loco emi</option>
									</select>
								</div>
							</div>

							<div class="col-md-3 mt-2"
								style="display: flex; align-items: center;">
								<button type="button" class="btn btn-primary mt-2">Filtrar</button>
							</div>

						</div>



						<hr>

						<div class="mt-4"></div>



						<table id="table_id" class="display ">
							<thead>
								<tr>
									<th>Fecha Límite</th>
									<th>Fecha de Retiro</th>
									<th>Autorizado</th>
									<th>Autorizante</th>
									<th>Materiales</th>
									<th>Guardia</th>
									<th>Descripción</th>
									<th>Observación</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>24/05/2022</td>
									<td>23/05/2022</td>
									<td>Mendoza Emiliano</td>
									<td>Del Turco Celina</td>
									<td>Palets</td>
									<td>Mendoza Mariano</td>
									<td>Se llevó altos palets</td>
									<td>Sin observaciones</td>
								</tr>
								<tr>
									<td>26/05/2022</td>
									<td>21/05/2022</td>
									<td>Luis</td>
									<td>Del Turco Celina</td>
									<td>Palets</td>
									<td>Mendoza Mariano</td>
									<td>Se llevó altos palets aaa re locooo jejejeje</td>
									<td>Sin observaciones</td>
								</tr>
								<tr>
									<td>28/05/2022</td>
									<td>24/05/2022</td>
									<td>Matías</td>
									<td>Del Turco Celina</td>
									<td>Palets</td>
									<td>Mendoza Mariano</td>
									<td>Se llevó altos palets</td>
									<td>Sin observaciones</td>
								</tr>



							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>

	<script type="text/javascript">
		var datatable;
		$(document).ready(function() {

			datatable = $('#table_id').DataTable({
				language : {
					"decimal" : "",
					"emptyTable" : "No hay información",
					"info" : "Mostrando _START_ a _END_ de _TOTAL_ Registros",
					"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
					"infoPostFix" : "",
					"thousands" : ",",
					"lengthMenu" : "Mostrar _MENU_ Registros",
					"loadingRecords" : "Cargando...",
					"processing" : "Procesando...",
					"search" : "Buscar:",
					"zeroRecords" : "Sin resultados encontrados",
					"paginate" : {
						"first" : "Primero",
						"last" : "Ultimo",
						"next" : "Siguiente",
						"previous" : "Anterior"
					}
				},
				"columnDefs" : [ {
					"className" : "dt-center",
					"targets" : "_all"
				} ]
			});

		});
	</script>
</body>
</html>