<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title id="tituloPagina">Guardia</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/bootnavbar.css}">
<link rel="stylesheet" th:href="@{/css/daterangepicker.css}">
<link rel="stylesheet" th:href="@{/css/signin.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/css/toastr.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}">
<link rel="stylesheet" th:href="@{/css/responsive.dataTables.css}">

<link rel="icon" th:href="@{/images/icono-pestaña.png}">

<style>


select option:disabled {
    color: orange;
    font-weight: bold;
}

.nav-font-1 {
	font-size: 14px;
}

.list-font {
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

#nav {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav li {
	float: left;
	margin-right: 20px;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

#nav li a {
	color: #333333;
	text-decoration: none
}

#nav li a:hover {
	color: #006699;
	text-decoration: none
}

#notification_li {
	position: relative
}

#notificationContainer {
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 30px;
	margin-left: -170px;
	width: 400px;
	z-index: -1;
	display: none;
}

Popup Arrow
			#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}

#notificationTitle {
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	position: fixed;
	z-index: 1000;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}

#notificationsBody {
	padding: 33px 0px 0px 0px !important;
	min-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 52.5vh;
}

#notificationFooter {
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}

#notification_count {
	padding: 3px 7px 3px 7px;
	background: #cc0000;
	color: #ffffff;
	font-weight: bold;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	position: absolute;
	margin-top: -11px;
	font-size: 11px;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor_puntero {
	cursor: pointer;
}
</style>

</head>
<body>

	<!-- BARRA DE NAVEGACION -->
	<header th:fragment="header">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->

			<a class="navbar-brand" th:href="@{/home}"><img
				th:src="@{/images/scolnik.png}"
				style="width: 120px; height: 50px; margin-left: 22%;"></a>

			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
				id="sidebarToggle" href="#!">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Notification button -->
			<ul
				class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
				<li id="notification_li"><a href="#" id="notificationLink"
					style="color: grey;"><i class="fa-solid fa-bell"></i><span
						id="notification_count" style="display: none;"></span></a>

					<div id="notificationContainer">
						<div id="notificationTitle">Notificationes</div>
						<div id="notificationsBody" class="notifications "></div>
						<div id="notificationFooter">
							<a href="#" id="marcarLeida">Marcar como leídas</a>
						</div>
					</div></li>
			</ul>


			<!-- <button
				class="btn btn-secondary d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
				id="notiBtn">
				<i class="fa-solid fa-bell"></i>
			</button> -->


			<div class="ms-auto ms-md-3 me-3 me-lg-3 ">
				<button type="button" class="btn btn-outline-info" id="plantaButton"
					data-bs-toggle="modal" data-bs-target="#modalPlanta">Seleccionar
					Planta</button>
			</div>

			<!-- Navbar-->
			<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
				
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<span class="mt-2" style="color: grey;" id="userSpan"></span>
					<i
						class="fas fa-user fa-fw"></i></a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdown">
	
						<li><a class="dropdown-item" th:href="@{/home}">Inicio</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li onclick="deleteCookies()"><a class="dropdown-item" th:href="@{/logout}" >Cerrar
								Sesión</a></li>
					</ul></li>
			</ul>
		</nav>


		<!-- Modal -->
		<div class="modal fade" id="modalPlanta" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ingrese la
							planta correspondiente:</h5>

					</div>
					<form>
						<div class="modal-body" id="modalbody">


							<ul class="list-group list-group-flush">

								<li class="list-group-item"><label>Planta: </label> <select
									class="form-select" id="plantaSelect" name="plantaSelect">
										<option value=2 selected>Av.
											Peñaloza 5750 - Planta II</option>
										<option value=1>Av. Facundo Zuviría
											4740 - Planta I</option>


								</select></li>
							</ul>


						</div>
						<div class="modal-footer">

							<button type="submit" class="btn btn-primary"
								onclick="setCookie()" data-bs-dismiss="modal">Aceptar</button>
						</div>
					</form>
				</div>
			</div>
		</div>


	</header>

	<div id="layoutSidenav_nav" th:fragment="sidenav_nav">
		<nav class="sb-sidenav accordion sb-sidenav-dark"
			id="sidenavAccordion">
			<div class="sb-sidenav-menu nav-font-1">
				<div class="nav">
					<div class="sb-sidenav-menu-heading">Home</div>
					<a class="nav-link" th:href="@{/home}">
						<div class="sb-nav-link-icon">
							<i class="fas fa-house"></i>
						</div> Inicio
					</a>
					<div class="sb-sidenav-menu-heading" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GUARDIA')">Guardia</div>

					<a class="nav-link collapsed cursor_puntero"  data-bs-toggle="collapse" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GUARDIA')"
						data-bs-target="#collapsePages" aria-expanded="false"
						aria-controls="collapsePages">Registrar Actividad
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="collapsePages" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GUARDIA')"
						aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">


						<nav class="sb-sidenav-menu-nested nav accordion cursor_puntero"
							id="sidenavAccordionPages">
							<a class="nav-link collapsed" data-bs-toggle="collapse"
								data-bs-target="#pagesCollapseAuth" aria-expanded="false"
								aria-controls="pagesCollapseAuth"><div
									class="sb-nav-link-icon">
									<i class="fa-solid fa-person-walking-arrow-right"></i>
								</div> Ingreso a Planta
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div> </a>
							<div class="collapse" id="pagesCollapseAuth"
								aria-labelledby="headingOne"
								data-bs-parent="#sidenavAccordionPages">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link" th:href="@{/views/ingresos-empleado}">Empleado</a>
									<a class="nav-link" th:href="@{/views/ingresos-proveedor}">Proveedor</a>
								</nav>
							</div>
							<a class="nav-link collapsed cursor_puntero"  data-bs-toggle="collapse"
								data-bs-target="#pagesCollapseError" aria-expanded="false"
								aria-controls="pagesCollapseError"><div
									class="sb-nav-link-icon">
									<i class="fa-solid fa-person-walking-arrow-right"
										style="transform: scaleX(-1);"></i>
								</div> Egreso de Planta
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div> </a>
							<div class="collapse" id="pagesCollapseError"
								aria-labelledby="headingOne"
								data-bs-parent="#sidenavAccordionPages">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link"
										th:href="@{/views/ingresos-empleado/egreso}">Empleado</a> <a
										class="nav-link" th:href="@{/views/ingresos-proveedor/egreso}">Proveedor</a>
								</nav>
							</div>


							<a class="nav-link" th:href="@{/views/ronda}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-clock"></i>
								</div> Ronda
							</a> <a class="nav-link" th:href="@{/views/evento/ocurrencia}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-calendar-days"></i>
								</div> Eventos
							</a> <a class="nav-link"
								th:href="@{/views/retiro-material/autorizaciones}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-boxes-stacked"></i>
								</div> Retiro de Material
							</a>
						</nav>

					</div>

					<a class="nav-link collapsed cursor_puntero" data-bs-toggle="collapse"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTORIZADOR')"
						data-bs-target="#collapseLayouts" aria-expanded="false"
						aria-controls="collapseLayouts">Autorizaciones
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="collapseLayouts" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTORIZADOR')"
						aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link"
								th:href="@{/views/retiro-material/nueva-autorizacion}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-check"></i>
								</div> Autorizar Retiro
							</a> <a class="nav-link"
								th:href="@{/views/retiro-material/ver-retiros}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-file-circle-check"></i>
								</div> Ver Retiros
							</a>
						</nav>
					</div>

					<a class="nav-link collapsed cursor_puntero" data-bs-toggle="collapse" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_NOTIFICADOR')"
						data-bs-target="#collapseLayouts3" aria-expanded="false"
						aria-controls="collapseLayouts">Notificacíon de Eventos
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="collapseLayouts3" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_NOTIFICADOR')"
						aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" th:href="@{/views/evento}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-flag"></i>
								</div> Nuevo Evento
							</a> <a class="nav-link" th:href="@{/views/evento/ver-eventos}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-file-circle-check"></i>
								</div> Ver Eventos
							</a>
						</nav>
					</div>

					<div class="sb-sidenav-menu-heading" sec:authorize="hasAnyRole('ROLE_ADMIN')">Administrador</div>
					<a class="nav-link collapsed cursor_puntero"  data-bs-toggle="collapse" sec:authorize="hasAnyRole('ROLE_ADMIN')"
						data-bs-target="#collapseLayouts2" aria-expanded="false"
						aria-controls="collapseLayouts">
						<div class="sb-nav-link-icon">
							<i class="fa-solid fa-dice-d6"></i>
						</div> Gestión de Entidades
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="collapseLayouts2" sec:authorize="hasAnyRole('ROLE_ADMIN')"
						aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" th:href="@{/views/empleado/administrar}"><div>
									<i class="fa-solid fa-people-group" style="margin-right: 3px;"></i>
								</div> Empleados</a> <a class="nav-link"
								th:href="@{/views/proveedor/administrar}"><div>
									<i class="fa-solid fa-truck-field" style="margin-right: 3px;"></i>
								</div> Proveedores</a> <a class="nav-link"
								th:href="@{/views/vehiculo/administrar}"><div>
									<i class="fa-solid fa-car" style="margin-right: 3px;"></i>
								</div> Vehiculos</a> <a class="nav-link"
								th:href="@{/views/sector-trabajo/administrar}"><div>

									<i class="fa-solid fa-briefcase" style="margin-right: 3px;"></i>
								</div> Sectores de Trabajo</a> <a class="nav-link"
								th:href="@{/views/material/administrar}"><div>
									<i class="fa-solid fa-boxes" style="margin-right: 3px;"></i>
								</div> Materiales</a>
						</nav>
					</div>
					
					<a class="nav-link collapsed cursor_puntero" data-bs-toggle="collapse" sec:authorize="hasAnyRole('ROLE_ADMIN')"
						data-bs-target="#collapseLayouts4" aria-expanded="false"
						aria-controls="collapseLayouts">
						<div class="sb-nav-link-icon">						
							<i class="fa-solid fa-sheet-plastic"></i>
						</div> Ver Registros
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="collapseLayouts4" sec:authorize="hasAnyRole('ROLE_ADMIN')"
						aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" th:href="@{/views/ingresos-empleado/registros}"><div>
									<i class="fa-solid fa-file-circle-check" style="margin-right: 3px;"></i>
								</div> Registros de Ingresos</a>
							<a class="nav-link" th:href="@{/views/ronda/registros}"><div>
								<i class="fa-solid fa-file-circle-check" style="margin-right: 3px;"></i>
								</div> Registros de Rondas</a>
							<a class="nav-link" th:href="@{/views/retiro-material/ver-retiros}"><div>
								<i class="fa-solid fa-file-circle-check" style="margin-right: 3px;"></i>
								</div> Registros de Retiros</a>
							<a class="nav-link" th:href="@{/views/evento/ver-eventos}"><div>
								<i class="fa-solid fa-file-circle-check" style="margin-right: 3px;"></i>
								</div> Registros de Eventos</a>
						</nav>
						
						
					</div>
					
					<a class="nav-link" th:href="@{/views/usuario/administrar}" sec:authorize="hasAnyRole('ROLE_ADMIN')">
						<div class="sb-nav-link-icon">
							<i class="fa-solid fa-user-group"></i>
						</div> Gestión de Usuarios
					</a>
					
					<a class="nav-link" th:href="@{/views/distribucion}" sec:authorize="hasAnyRole('ROLE_ADMIN')">
						<div class="sb-nav-link-icon">
							<i class="fa-solid fa-person-digging"></i>
						</div> Distribución de Trabajo
					</a>
					
					<!-- Corregir esto -->
					<a class="nav-link collapsed cursor_puntero" data-bs-toggle="collapse" sec:authorize="hasAnyRole('ROLE_ADMIN')"
						style="display: none;"
						data-bs-target="#collapseLayouts5" aria-expanded="false"
						aria-controls="collapseLayouts">Distribucion de Turnos
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="collapseLayouts5" sec:authorize="hasAnyRole('ROLE_ADMIN')"
						style="display: none;"
						aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" th:href="@{/views/distribucion}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-person-digging"></i>
								</div> Nueva Distribución
							</a> <a class="nav-link" th:href="@{/views/evento/ver-eventos}">
								<div class="sb-nav-link-icon">
									<i class="fa-solid fa-file-circle-check"></i>
								</div> Ver Eventos
							</a>
						</nav>
					</div>
					
				</div>
			</div>
		</nav>

	</div>

	<div th:fragment="mensajes">

		<!-- MENSAJES -->
		<div
			class="alert alert-success alert-dismissable gap-2 d-md-flex justify-content-between"
			th:if="${success != null}" role="alert">
			<label th:text="${success}"></label>
			<button type="button" class="btn-close mr-auto"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div
			class="alert alert-danger alert-dismissable gap-2 d-md-flex justify-content-between"
			th:if="${error != null}" role="alert">
			<label th:text="${error}"></label>
			<button type="button" class="btn-close mr-auto"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	</div>



	<!-- CONTENIDO -->
	<div class="container"></div>





	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer"
		class="bg-dark text-white text-center fixed-bottom ">

		<div>
			<span sec:authentication='principal.authorities' id="rolesUsuario"
				hidden></span> <span sec:authentication='name' id="nombreUsuario"
				hidden></span>
		</div>


		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/ordenar-tabla.js}"></script>
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/daterangepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/daterangeconfig.js}"></script>
		<script type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/dataTables.responsive.js}"></script>
			<script type="text/javascript" th:src="@{/js/formatDate.js}"></script>


		<script th:inline="javascript">
		const roles = document.getElementById("rolesUsuario").textContent;
		const nombreUsuario = document.getElementById("nombreUsuario").textContent;
		
		window.addEventListener('DOMContentLoaded', event => {

		    // Toggle the side navigation
		    const sidebarToggle = document.body.querySelector('#sidebarToggle');
		    if (sidebarToggle) {
		        // Uncomment Below to persist sidebar toggle between refreshes
		        //if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
		        //    document.body.classList.toggle('sb-sidenav-toggled');
		        //}
		        sidebarToggle.addEventListener('click', event => {
		            event.preventDefault();
		            document.body.classList.toggle('sb-sidenav-toggled');
		            localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
		        });
		    }

		});
		
		
		var listaNotificaciones;
		
		$(document).ready(function(){
			
			$("#notificationLink").click(function()
			{
			$("#notificationContainer").fadeToggle(300);
			
			return false;
			});
	
			//Document Click hiding the popup 
			$(document).click(function()
			{
			$("#notificationContainer").hide();
			});
	
			//Popup on click
			$("#notificationContainer").click(function()
			{
			return false;
			});
			
			//Popup on click
			$("#marcarLeida").click(function()
			{
				$("#notification_count").fadeOut("slow");
				$("#notificationsBody").html('');
								
				var listaIds = new Array();
				
				for(let noti of listaNotificaciones){
					
					listaIds.push(noti.idNotiUsuario);
					
				}
							    
				//alfin funciono
			    jQuery.ajax({
					url : '/notificaciones/leidas',
					type : "POST",
					data: JSON.stringify(listaIds),
					dataType: 'application/json',
				    contentType: 'application/json; charset=utf-8',
					success : function(data) {
														
					}
				});
								
			});
							
			solicitarNotificaciones();
			setInterval(solicitarNotificaciones, 10000);			
			
			$("#userSpan").text(nombreUsuario);
		});
		
		
		function solicitarNotificaciones(){
			
			jQuery.ajax({
				url : '/notificaciones',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					if(data.length == 0){
						$("#notification_count").text(data.length);
						$("#tituloPagina").text(`Guardia`);
					}else{
						$("#notification_count").text(data.length);
						$("#notification_count").show();
						
						$("#tituloPagina").text(`(${data.length}) Guardia`);
						
					}
					
					//ordeno de la más reciente a la más antigua
					data.sort(function (a, b) {
						
						let dateA = new Date(a.fecha);
						let dateB = new Date(b.fecha);
						
						if (dateA < dateB) {
						   return 1;
						}
						if (dateA > dateB) {
						   return -1;
						}
						 
						return 0;
					});
					
					
					$("#notificationsBody").html(function(){
						let htmlAux = '';
						
						data.forEach(dato => {
							
							htmlAux +=
							`<div class="card text-dark mt-1">
								 
								  <div class="card-body">
								 	 <div>${darFormatoFechaCompleta(new Date(dato.fecha))} - ${dato.mensaje}</div>
								  </div>
							</div>
							`;						
							
						});
						
						return htmlAux;
					});
					
					listaNotificaciones = data;			
				}
			});
			
		}
						
		function getCookie(cname) {
			let name = cname + "=";
			let decodedCookie = decodeURIComponent(document.cookie);
			let ca = decodedCookie.split(';');
			for (let i = 0; i < ca.length; i++) {
				let c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		
		function deleteCookies() {
			document.cookie = "logueado=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
		}
		
		function setCookie() {
			let aux = document.getElementById('plantaSelect').value;
			
			document.cookie = nombreUsuario + "=" + aux+ "; path=/";
			//document.cookie = "planta=" + aux+ "; path=/";
			document.cookie = "logueado=true; path=/";
			
			setPlantaButton();
		}
		
		
		setPlantaButton();
		function setPlantaButton(){
			//Pongo el nombre de la planta en el boton de seleccionar planta
			if (getCookie(nombreUsuario) != "") {
				
				if(getCookie(nombreUsuario) == 2){
					document.getElementById("plantaButton").innerText = "Av. Peñaloza 5750 - Planta II";
				}else if(getCookie(nombreUsuario) == 1){
					document.getElementById("plantaButton").innerText = "Av. Facundo Zuviría 4740 - Planta I";
				}else{
					document.getElementById("plantaButton").innerText =  "No definida";
				}
											
			}
		}
		
		setPlantaEnCookie();
		function setPlantaEnCookie(){
			
			if(getCookie(nombreUsuario) != ""){
				const plantaSelect = document.getElementById("plantaSelect");
				
				let plantaAnterior = getCookie(nombreUsuario);
				
				if(plantaAnterior == 2){
					plantaSelect.innerHTML=`
						<option value=2 selected>Av. Peñaloza 5750 - Planta II</option>
						<option value=1>Av. Facundo Zuviría 4740 - Planta I</option>
					`;
				}else if(plantaAnterior == 1){
					plantaSelect.innerHTML=`
						<option value=2>Av. Peñaloza 5750 - Planta II</option>
						<option value=1 selected>Av. Facundo Zuviría 4740 - Planta I</option>
					`;
				}
				
				
			}
			
		}
		
		
		//muestro el modal si el usuario tiene el rol de guardia y si recien se loguea
		$(window).on('load', function() {
			if (getCookie("logueado") == "" && (roles.indexOf("ROLE_GUARDIA") !== -1 || roles.indexOf("ROLE_ADMIN") !== -1)) {
				$('#modalPlanta').modal('show');
			}
		});
		
		
		</script>

	</footer>



</body>

</html>