<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body >

	<header th:replace="plantilla/template :: header"></header>
	
	<div id="layoutSidenav">
	
		<div th:replace="plantilla/template :: sidenav_nav"> </div>
		
		<div id="layoutSidenav_content">
			
			<div class="container">
				 
				 <h1>RegistrarIngresoEmpleado</h1>
				
			</div>
			
		<div>
	
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
	<script type="text/javascript">
		
	
	</script>
</body>
</html>