<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<h1 class="">Registro de Egreso</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i class="fa-solid fa-people-group" ></i>  Empleados</li>
				</ol>

				<div class="row mt-3">
					<div class="col-md-10">
						<input type="text" id="buscador" class="form-control">
					</div>
					<div class="d-grid col-md-2 ">
						<button class="btn btn-primary" onclick="filtrar()">Buscar
							Empleado</button>
					</div>

				</div>

				<div class="row mt-3" id="cardEgreso">

					<div class="col-sm-6 mt-3">
						<div class="card text-dark  mb-3">
							<div class="card-header bg-dark text-white">Registro de
								Egreso de la Planta</div>
							<div class="row g-0 card-body">
								<div class="col-md-4 ">
									<img src='/images/asd.jpg' id='idFoo' width="100%"
										height="auto"
										onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
								</div>
								<div class="col-md-8">
									<div style="margin-left: 18px;">
										<h5 class="card-title">Empleado ingresado:</h5>

										<ul class="list-group list-group-flush">
											<li class="list-group-item">Empleado: Emiliano Mendoza</li>
											<li class="list-group-item">Número de legajo: 1</li>
											<li class="list-group-item">Sector de trabajo:
												Mantemimiento</li>
											<li class="list-group-item">Fecha y hora que ingresó:
												12/06/2022 08:58</li>
											<li id='idDiv' class="list-group-item" hidden></li>
											<li id='idComentario' class="list-group-item" hidden></li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-md-end">
								<form >

									<button type="button" class="btn btn-secondary btn-sm"
										id='idCancelarButton' onclick="filtrar()" hidden>Cancelar</button>

									<button type="button" class="btn btn-secondary btn-sm">Egreso
										Transitorio</button>

									<input type="submit" class="btn btn-secondary btn-sm"
										id='idConfirmarButton' hidden value="Confirmar" />

								</form>
								<form >

									<input type="submit" class="btn btn-primary btn-sm"
										id='idButtonEgreso' value="Registrar Egreso" />

								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6 mt-3">
						<div class="card text-dark  mb-3">
							<div class="card-header bg-dark text-white">Registro de
								Egreso de la Planta</div>
							<div class="row g-0 card-body">
								<div class="col-md-4 ">
									<img src='/images/asd.jpg' id='idFoo' width="100%"
										height="auto"
										onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
								</div>
								<div class="col-md-8">
									<div style="margin-left: 18px;">
										<h5 class="card-title">Empleado ingresado:</h5>

										<ul class="list-group list-group-flush">
											<li class="list-group-item">Empleado: Emiliano Mendoza</li>
											<li class="list-group-item">Número de legajo: 1</li>
											<li class="list-group-item">Sector de trabajo:
												Mantemimiento</li>
											<li class="list-group-item">Fecha y hora que ingresó:
												12/06/2022 08:58</li>
											<li id='idDiv' class="list-group-item" hidden></li>
											<li id='idComentario' class="list-group-item" hidden></li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-md-end">
								<form >

									<button type="button" class="btn btn-secondary btn-sm"
										id='idCancelarButton' onclick="filtrar()" hidden>Cancelar</button>

									<button type="button" class="btn btn-secondary btn-sm">Egreso
										Transitorio</button>

									<input type="submit" class="btn btn-secondary btn-sm"
										id='idConfirmarButton' hidden value="Confirmar" />

								</form>
								<form >

									<input type="submit" class="btn btn-primary btn-sm"
										id='idButtonEgreso' value="Registrar Egreso" />

								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6 mt-3">
						<div class="card text-dark  mb-3">
							<div class="card-header bg-dark text-white">Registro de
								Egreso de la Planta</div>
							<div class="row g-0 card-body">
								<div class="col-md-4 ">
									<img src='/images/asd.jpg' id='idFoo' width="100%"
										height="auto"
										onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
								</div>
								<div class="col-md-8">
									<div style="margin-left: 18px;">
										<h5 class="card-title">Empleado ingresado:</h5>

										<ul class="list-group list-group-flush">
											<li class="list-group-item">Empleado: Emiliano Mendoza</li>
											<li class="list-group-item">Número de legajo: 1</li>
											<li class="list-group-item">Sector de trabajo:
												Mantemimiento</li>
											<li class="list-group-item">Fecha y hora que ingresó:
												12/06/2022 08:58</li>
											<li id='idDiv' class="list-group-item" hidden></li>
											<li id='idComentario' class="list-group-item" hidden></li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-md-end">
								<form method="post" id='idForm1'>

									<button type="button" class="btn btn-secondary btn-sm"
										id='idCancelarButton' onclick="filtrar()" hidden>Cancelar</button>

									<button type="button" class="btn btn-secondary btn-sm">Egreso
										Transitorio</button>

									<input type="submit" class="btn btn-secondary btn-sm"
										id='idConfirmarButton' hidden value="Confirmar" />

								</form>
								<form >

									<input type="submit" class="btn btn-primary btn-sm"
										id='idButtonEgreso' value="Registrar Egreso" />

								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6 mt-3">
						<div class="card text-dark  mb-3">
							<div class="card-header bg-dark text-white">Registro de
								Egreso de la Planta</div>
							<div class="row g-0 card-body">
								<div class="col-md-4 ">
									<img src='/images/asd.jpg' id='idFoo' width="100%"
										height="auto"
										onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
								</div>
								<div class="col-md-8">
									<div style="margin-left: 18px;">
										<h5 class="card-title">Empleado ingresado:</h5>

										<ul class="list-group list-group-flush">
											<li class="list-group-item">Empleado: Emiliano Mendoza</li>
											<li class="list-group-item">Número de legajo: 1</li>
											<li class="list-group-item">Sector de trabajo:
												Mantemimiento</li>
											<li class="list-group-item">Fecha y hora que ingresó:
												12/06/2022 08:58</li>
											<li id='idDiv' class="list-group-item" hidden></li>
											<li id='idComentario' class="list-group-item" hidden></li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-md-end">
								<form >

									<button type="button" class="btn btn-secondary btn-sm"
										id='idCancelarButton' onclick="filtrar()" hidden>Cancelar</button>

									<button type="button" class="btn btn-secondary btn-sm">Egreso
										Transitorio</button>

									<input type="submit" class="btn btn-secondary btn-sm"
										id='idConfirmarButton' hidden value="Confirmar" />

								</form>
								<form method="post">

									<input type="submit" class="btn btn-primary btn-sm"
										id='idButtonEgreso' value="Registrar Egreso" />

								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6 mt-3">
						<div class="card text-dark  mb-3">
							<div class="card-header bg-dark text-white">Registro de
								Egreso de la Planta</div>
							<div class="row g-0 card-body">
								<div class="col-md-4 ">
									<img src='/images/asd.jpg' id='idFoo' width="100%"
										height="auto"
										onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
								</div>
								<div class="col-md-8">
									<div style="margin-left: 18px;">
										<h5 class="card-title">Empleado ingresado:</h5>

										<ul class="list-group list-group-flush">
											<li class="list-group-item">Empleado: Emiliano Mendoza</li>
											<li class="list-group-item">Número de legajo: 1</li>
											<li class="list-group-item">Sector de trabajo:
												Mantemimiento</li>
											<li class="list-group-item">Fecha y hora que ingresó:
												12/06/2022 08:58</li>
											<li id='idDiv' class="list-group-item" hidden></li>
											<li id='idComentario' class="list-group-item" hidden></li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-md-end">
								<form >

									<button type="button" class="btn btn-secondary btn-sm"
										id='idCancelarButton' onclick="filtrar()" hidden>Cancelar</button>

									<button type="button" class="btn btn-secondary btn-sm">Egreso
										Transitorio</button>

									<input type="submit" class="btn btn-secondary btn-sm"
										id='idConfirmarButton' hidden value="Confirmar" />

								</form>
								<form method="post">

									<input type="submit" class="btn btn-primary btn-sm"
										id='idButtonEgreso' value="Registrar Egreso" />

								</form>
							</div>
						</div>
					</div>


				</div>



			</div>

		</div>
	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script type="text/javascript">
		
	</script>
</body>
</html>