<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">
				
				<div th:replace="plantilla/template :: mensajes"></div>
				
				<div class="d-md-flex justify-content-between">

					<h1 class="">Registro de Ingreso</h1>

					<a  class="nav-link" th:href="@{/views/ingresos-empleado/registros}"><i
						class="fa-solid fa-file-circle-check"></i> Ver Registros</a>

				</div>
												
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-people-group"></i> Empleados</li>
				</ol>

				<!-- Empleado Card -->
				<div class="container">
					<div
						class="row mt-3 d-grid gap-2 d-md-flex justify-content-md-center"
						id="cardAsis"></div>
				</div>



				<div class="card mb-4">
					<div class="card-header">
						<i class="fa-solid fa-table"></i> Listado de Empleados:
					</div>
					<div class="card-body">

						<table id="table_id" class="display">
							<thead>
								<tr>
									<th>Legajo</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Sector de Trabajo</th>
									<th>Asistencia</th>
								</tr>
							</thead>
							<tbody>
								

							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
			
		const cardAsis = document.querySelector('#cardAsis');
	
		var datatable;
		$(document).ready(function() {
			
			let listaEmpleados = /*[[${listaEmpleados}]]*/'default';
			
			datatable = $('#table_id').DataTable(
			{		
					data: listaEmpleados,
					language : {
						"decimal" : "",
						"emptyTable" : "No hay información",
						"info" : "Mostrando _START_ a _END_ de _TOTAL_ Empleados",
						"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
						"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
						"infoPostFix" : "",
						"thousands" : ",",
						"lengthMenu" : "Mostrar _MENU_ Empleados",
						"loadingRecords" : "Cargando...",
						"processing" : "Procesando...",
						"search" : "Buscar:",
						"zeroRecords" : "Sin resultados encontrados",
						"paginate" : {
							"first" : "Primero",
							"last" : "Ultimo",
							"next" : "Siguiente",
							"previous" : "Anterior"
						}
					},
					"columnDefs" : [ {
						"className" : "dt-center",
						"targets" : "_all"
					} ]
					,
					columns: [
	                    { data: 'nroLegajo' },
	                    { data: 'nombre' },
	                    { data: 'apellido' },
	                    { data: 'sector.sector' },	                    
	                    {
	                    "defaultContent": '<button class="btn btn-sm btn-success btn-ingreso">Ingreso</button>',
	                    "orderable": false,
	                    "searcheble": false,
	                    "width": "90px"
	                    }
	                ]
			});

		});
		

		$("#table_id tbody").on("click", '.btn-ingreso', function() {
			let filaSeleccionada = (this).closest("tr");
			let data = datatable.row(filaSeleccionada).data();
			
			let imagenAux = data.imagen.replace(/\s/g, "%20");
			let imagenEmpleado= `/recursos/${imagenAux}` ;
			
			let action = "/views/ingresos-empleado/ingreso/" + data.nroLegajo;
			
			let planta = $("#plantaSelect").val();
			let plantaAux = 'No definida';
			
			if(planta == 1) plantaAux = 'Av. Facundo Zuviría 4740 - Planta I';
			else if(planta == 2) plantaAux = 'Av. Peñaloza 5750 - Planta II';
			
			cardAsis.innerHTML = `
				<div class="col-md-8" >
					<div class="card text-dark bg-light mb-3">
						<p class="card-header bg-dark text-white ">Registro de Ingreso
						a la Planta</p>
						<div class="row g-0 card-body ">
							<div class="col-md-4 mt-2" id="imagen">
								<img src=${imagenEmpleado} width="100%" height="250px" 
								
								onerror="this.onerror=null;this.src='/images/anonimo.jpg';">
							</div>
							<div class="col-md-8">
								<div style="margin-left: 18px;">
									<h5 class="card-title">Registrar asistencia:</h5>
																		
									<ul class="list-group list-group-flush mt-3 ">
									  <li class="list-group-item bg-light">Empleado: ${data.nombre} ${data.apellido}</li>
									  <li class="list-group-item bg-light">Número de Legajo: ${data.nroLegajo}</li>
									  <li class="list-group-item bg-light">Sector de trabajo: ${data.sector.sector}</li>
									  <li class="list-group-item bg-light">Planta: ${plantaAux}</li>
									  <li class="list-group-item bg-light">Fecha y hora del ingreso: <small class="text-muted"><span
										id='date-time'></span></small></li>
									</ul>
									
								</div>
							</div>
						</div>
						<form 	
							action=${action}
							method="post"
							>
							<input type="number" value=${planta} hidden name="planta">
							<div
								class="card-footer bg-dark d-grid gap-2 d-md-flex justify-content-between">
									<button type="button" class="btn btn-secondary" onclick="CloseCard()"
										>Cancelar</button>
									<div>
										<button type="submit" class="btn btn-secondary"
											>Registrar</button>
									</div>											 
									
							</div>
						</form>
					</div>					
				</div>
			`;
			
			//formato de la fecha
			var d = new Date,
			dformat = `${
			    d.getDate().toString().padStart(2, '0')}/${
			    (d.getMonth()+1).toString().padStart(2, '0')}/${
			    d.getFullYear().toString().padStart(4, '0')} ${
			    d.getHours().toString().padStart(2, '0')}:${
			    d.getMinutes().toString().padStart(2, '0')}`;
													
			document.getElementById('date-time').innerHTML = dformat;						
			window.scroll(0, 0);
																
	});
		
	function CloseCard(){
		cardAsis.innerHTML = '';
	}
	
	</script>
</body>
</html>