<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<h1 class="">Registros de Ingresos</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-person-walking-arrow-right"></i> Ingresos a
						Planta</li>
				</ol>


				<div class="card mb-4">
					<div class="card-header">

						<div class="d-md-flex justify-content-between">
							<div>
								<i class="fa-solid fa-table mt-2"></i> <span id="spanTitulo">Registros
									de Ingresos de Empleados:</span>
							</div>
							<div>
								<button class="btn btn-primary btn-sm" id="ocultarBtn1"
									onclick="ocultar('primerTabla', 'ocultarBtn1')">Empleados</button>
								<button class="btn btn-secondary btn-sm" id="ocultarBtn2"
									onclick="ocultar('segundaTabla', 'ocultarBtn2')">Proveedores</button>
								<button class="btn btn-secondary btn-sm" id="ocultarBtn3"
									onclick="ocultar('tercerTabla', 'ocultarBtn3')">Tránsitos</button>
							</div>
						</div>

					</div>
					<div class="card-body" id="primerTabla">

						<div class="row">

							<div class="col-md-3 pb-2">
								<label>Rango Fecha: </label> <input type="text" id="date_range"
									name="date_range" class="form-control">

							</div>
							<div class="col-md-3 pb-2">
								<label for="a">Empleado:</label> <select class="form-select" id="empleadoSelect1" name="nroLegajo">
									
								</select>
							</div>
							<div class="col-md-3 pb-2">
								<label for="a">Guardia:</label> <select class="form-select" id="usuarioSelect1" name="idUsuario">

								</select>
							</div>
							<div class="col-md-3 mt-2"
								style="display: flex; align-items: center;">
								<button type="button" class="btn btn-primary mt-2">Filtrar</button>
							</div>

						</div>

						<hr>

						<div class="mt-4"></div>

						<table id="table_id" class="display">
							<thead>
								<tr>
									<th>Ingreso</th>
									<th>Egreso</th>
									<th>Empleado</th>
									<th>Planta</th>
									<th>Guardia Ingreso</th>
									<th>Guardia Egreso</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>

					<div class="card-body" id="segundaTabla" style="display: none;">

						<div class="row">

							<div class="col-md-3 pb-2">
								<label>Rango Fecha: </label> <input type="text" id="date_range2"
									name="date_range2" class="form-control">

							</div>
							<div class="col-md-3 pb-2">
								<label for="a">Proveedor:</label> <select class="form-select" id="proveedorSelect2" name="nroLegajo">
									
								</select>
							</div>
							<div class="col-md-3 pb-2">
								<label for="a">Guardia:</label> <select class="form-select" id="usuarioSelect2" name="idUsuario">

								</select>
							</div>
							<div class="col-md-3 mt-2"
								style="display: flex; align-items: center;">
								<button type="button" class="btn btn-primary mt-2">Filtrar</button>
							</div>

						</div>

						<hr>

						<div class="mt-4"></div>

						<table id="table_id2" class="display ">
							<thead>
								<tr>
									<th>Ingreso</th>
									<th>Egreso</th>
									<th>Proveedor</th>
									<th>Planta</th>									
									<th>Chofer</th>
									<th>Patente</th>
									<th>Guardia Ingreso</th>
									<th>Guardia Egreso</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>

					<div class="card-body" id="tercerTabla" style="display: none;">

						<div class="row">

							<div class="col-md-3 pb-2">
								<label>Rango Fecha: </label> <input type="text" id="date_range3"
									name="date_range3" class="form-control">

							</div>
							<div class="col-md-2 pb-2">
								<label for="a">Empleado:</label> <select class="form-select" id="empleadoSelect3" name="nroLegajo"> 
									
								</select>
							</div>
							<div class="col-md-2 pb-2">
								<label for="a">Guardia:</label> <select class="form-select" id="usuarioSelect3" name="idUsuario">

								</select>
							</div>
							<div class="col-md-2 pb-2">
								<label for="a">Vehiculo:</label> <select class="form-select" id="vehiculoSelect3">
									
								</select>
							</div>
							<div class="col-md-1 mt-2"
								style="display: flex; align-items: center;">
								<button type="button" class="btn btn-primary mt-2">Filtrar</button>
							</div>

						</div>

						<hr>

						<div class="mt-4"></div>

						<table id="table_id3" class="display ">

							<thead>
								<tr>									
									<th>Egreso</th>
									<th>Ingreso</th>
									<th>Empleado</th>								
									<th>1er Vehiculo</th>
									<th>1er Comentario</th>
									<th>2do Vehiculo</th>
									<th>2do Comentario</th>
									<th>Guardia Egreso</th>
									<th>Guardia Ingreso</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>20/05/2022 14:00</td>
									<td>20/05/2022 14:20</td>
									<td>Emiliano Mendoza</td>
									<td>Koko Lala</td>
									<td>Martín Díaz</td>
									<td>Renault R9 ASD-432</td>
									<td>Sin comentarios</td>
									<td>Renault R9 ASD-432</td>
									<td>Sin comentarios</td>
								</tr>
								<tr>
									<td>20/05/2022 12:00</td>
									<td>20/05/2022 13:00</td>
									<td>Gerardo Tomaglio</td>
									<td>Koko Lala</td>
									<td>Martín Díaz</td>
									<td>Mazda XM HFF-123</td>
									<td>Sin comentarios</td>
									<td>Renault R9 ASD-432</td>
									<td>Sin comentarios</td>
								</tr>
								<tr>
									<td>20/05/2022 10:00</td>
									<td>20/05/2022 10:30</td>
									<td>María Ledezma</td>
									<td>Koko Lala</td>
									<td>Martín Díaz</td>
									<td>Renault R9 ASD-432</td>
									<td>Sin comentarios</td>
									<td>Renault R9 ASD-432</td>
									<td>Sin comentarios</td>
								</tr>
							</tbody>
						</table>
					</div>



				</div>


			</div>

		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script type="text/javascript">
		var datatable1;
		var datatable2;
		var datatable3;
		
		const languageAux = {
				"decimal" : "",
				"emptyTable" : "No hay información",
				"info" : "Mostrando _START_ a _END_ de _TOTAL_ Registros",
				"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
				"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
				"infoPostFix" : "",
				"thousands" : ",",
				"lengthMenu" : "Mostrar _MENU_ Registros",
				"loadingRecords" : "Cargando...",
				"processing" : "Procesando...",
				"search" : "Buscar:",
				"zeroRecords" : "Sin resultados encontrados",
				"paginate" : {
					"first" : "Primero",
					"last" : "Ultimo",
					"next" : "Siguiente",
					"previous" : "Anterior"
				}
		};
		const columnsDefAux = [ {
			"className" : "dt-center",
			"targets" : "_all"
		} ];
		
		var configTable = {
				language : {
					"decimal" : "",
					"emptyTable" : "No hay información",
					"info" : "Mostrando _START_ a _END_ de _TOTAL_ Registros",
					"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
					"infoPostFix" : "",
					"thousands" : ",",
					"lengthMenu" : "Mostrar _MENU_ Registros",
					"loadingRecords" : "Cargando...",
					"processing" : "Procesando...",
					"search" : "Buscar:",
					"zeroRecords" : "Sin resultados encontrados",
					"paginate" : {
						"first" : "Primero",
						"last" : "Ultimo",
						"next" : "Siguiente",
						"previous" : "Anterior"
					}
				},
				columnDefs : [ {
					"className" : "dt-center",
					"targets" : "_all"
				} ]
				
		};

		$(document).ready(function() {
						
			jQuery.ajax({
				url : '/views/ingresos-empleado/listar-ingresos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
										
					datatable1 = $('#table_id').DataTable({
						data: data,
						language : languageAux,
						"columnDefs" : columnsDefAux,
						"autoWidth" : false,
						columns: [
							{
		                        "data":"ingreso", "render": function (valor){
		                            
		                        	let d = new Date(valor);
		                        	dformat = `${
		    						    d.getDate().toString().padStart(2, '0')}/${
		    						    (d.getMonth()+1).toString().padStart(2, '0')}/${
		    						    d.getFullYear().toString().padStart(4, '0')} ${
		    						    d.getHours().toString().padStart(2, '0')}:${
		    						    d.getMinutes().toString().padStart(2, '0')}`;
		                        	
		                            return `<span>${dformat}</span>`;
		                        }, "width": "15%"
		                    },
		                    {
		                        "data":"egreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		let d = new Date(valor);
		                        		dformat = `${
		        						    d.getDate().toString().padStart(2, '0')}/${
		        						    (d.getMonth()+1).toString().padStart(2, '0')}/${
		        						    d.getFullYear().toString().padStart(4, '0')} ${
		        						    d.getHours().toString().padStart(2, '0')}:${
		        						    d.getMinutes().toString().padStart(2, '0')}`;
			                        	
			                            return `<span>${dformat}</span>`;
		                        	}
		                        	
		                        	return `<span>-</span>`;
		                        }, "width": "15%"
		                    },
		                    {
		                        "data":"empleado", "render": function (valor){
		                            
		                            return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        }
		                    },
		                    { "data":"planta"},
		                    {
		                        "data":"usuarioIngreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
		                    },
		                    {
		                        "data":"usuarioEgreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
		                    }
						]
						
					}).order( [0, 'desc'] ).draw();			 										
				}
			});
			
			jQuery.ajax({
				url : '/views/ingresos-proveedor/listar-ingresos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					datatable2 = $('#table_id2').DataTable({
						data: data,
						language : languageAux,
						"columnDefs" : columnsDefAux,
						"autoWidth" : false,
						columns: [
							{
		                        "data":"ingreso", "render": function (valor){
		                            
		                        	let d = new Date(valor);
		                        	dformat = `${
		    						    d.getDate().toString().padStart(2, '0')}/${
		    						    (d.getMonth()+1).toString().padStart(2, '0')}/${
		    						    d.getFullYear().toString().padStart(4, '0')} ${
		    						    d.getHours().toString().padStart(2, '0')}:${
		    						    d.getMinutes().toString().padStart(2, '0')}`;
		                        	
		                            return `<span>${dformat}</span>`;
		                        }
		                    },
		                    {
		                        "data":"egreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		let d = new Date(valor);
		                        		dformat = `${
		        						    d.getDate().toString().padStart(2, '0')}/${
		        						    (d.getMonth()+1).toString().padStart(2, '0')}/${
		        						    d.getFullYear().toString().padStart(4, '0')} ${
		        						    d.getHours().toString().padStart(2, '0')}:${
		        						    d.getMinutes().toString().padStart(2, '0')}`;
			                        	
			                            return `<span>${dformat}</span>`;
		                        	}
		                        	
		                        	return `<span>-</span>`;
		                        }
		                    },
		                    {
		                        "data":"proveedor.proveedor"
		                    },
		                    { "data":"planta"},
		                    { "data":"nombreChofer"},
		                    { "data":"patenteVehiculo"},
		                    {
		                        "data":"usuarioIngreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
		                    },
		                    {
		                        "data":"usuarioEgreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
		                    }
						]
						
					}).order( [0, 'desc'] ).draw();									
				}
			});
					
			jQuery.ajax({
				url : '/views/ingresos-empleado/listar-transitos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
						 
					datatable3 = $('#table_id3').DataTable({
						data: data,
						language : languageAux,
						"columnDefs" : columnsDefAux,
						"autoWidth" : false,
						columns: [
							{
		                        "data":"egreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		let d = new Date(valor);
		                        		dformat = `${
		        						    d.getDate().toString().padStart(2, '0')}/${
		        						    (d.getMonth()+1).toString().padStart(2, '0')}/${
		        						    d.getFullYear().toString().padStart(4, '0')} ${
		        						    d.getHours().toString().padStart(2, '0')}:${
		        						    d.getMinutes().toString().padStart(2, '0')}`;
			                        	
			                            return `<span>${dformat}</span>`;
		                        	}
		                        	
		                        	return `<span>-</span>`;
		                        }
		                    },
		                    {
		                        "data":"ingreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		let d = new Date(valor);
		                        		dformat = `${
		        						    d.getDate().toString().padStart(2, '0')}/${
		        						    (d.getMonth()+1).toString().padStart(2, '0')}/${
		        						    d.getFullYear().toString().padStart(4, '0')} ${
		        						    d.getHours().toString().padStart(2, '0')}:${
		        						    d.getMinutes().toString().padStart(2, '0')}`;
			                        	
			                            return `<span>${dformat}</span>`;
		                        	}
		                        	
		                        	return `<span>-</span>`;
		                        }
		                    },
		                    {
								"data":"empleado", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
		                    },
		                    {
								"data":"primerVehiculo", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.marca} ${valor.modelo} ${valor.patente}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
							},
							{
								"data":"primerComentario", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
							},
							{
								"data":"segundoVehiculo", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.marca} ${valor.modelo} ${valor.patente}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
							},
							{
								"data":"segundoComentario", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
							},
		                    {
		                        "data":"usuarioEgreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
		                    },
		                    {
		                        "data":"usuarioIngreso", "render": function (valor){
		                            
		                        	if(valor != null && valor !== undefined){
		                        		return `<span>${valor.apellido} ${valor.nombre}</span>`;
		                        	}
		                        	
		                            return `<span>-</span>`;
		                        }
		                    }
						]
						
					}).order( [0, 'desc'] ).draw();		 				
				}
			});
					
			jQuery.ajax({
				url : '/views/usuario/usuarios-activos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.idUsuario}>${dato.apellido} ${dato.nombre}</option>`;
						
					}
					
					$("#usuarioSelect1").html(aux);
					$("#usuarioSelect2").html(aux);
					$("#usuarioSelect3").html(aux);
				}
			});
			
			jQuery.ajax({
				url : '/views/empleado',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.nroLegajo}>${dato.apellido} ${dato.nombre}</option>`;
						
					}
					
					$("#empleadoSelect1").html(aux);					
					$("#empleadoSelect3").html(aux);
				}
			});
			
			jQuery.ajax({
				url : '/views/proveedor',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					console.log(data);
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.idProveedor}>${dato.proveedor}</option>`;
						
					}
					
					$("#proveedorSelect2").html(aux);					

				}
			});
			
			jQuery.ajax({
				url : '/views/vehiculo/listar-todos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
														
					data.forEach(v => aux += `<option value=${v.idVehiculo}>${v.marca} ${v.modelo} - Patente: ${v.patente}</option>`);
					
					$("#vehiculoSelect3").html(aux);
				}
			});		
			
		});

		function ocultar(idtabla, idbtn) {

			if (idtabla == 'primerTabla') {
				$("#primerTabla").show();
				$("#segundaTabla").hide();
				$("#tercerTabla").hide();

				$("#" + idbtn).addClass('btn-primary');
				$("#" + idbtn).removeClass('btn-secondary');

				$("#ocultarBtn2").addClass('btn-secondary');
				$("#ocultarBtn2").removeClass('btn-primary');

				$("#ocultarBtn3").addClass('btn-secondary');
				$("#ocultarBtn3").removeClass('btn-primary');

				$("#spanTitulo").text("Registros de Ingresos de Empleados:");

			} else if (idtabla == 'segundaTabla') {
				
				$("#segundaTabla").show();
				$("#primerTabla").hide();
				$("#tercerTabla").hide();

				$("#" + idbtn).addClass('btn-primary');
				$("#" + idbtn).removeClass('btn-secondary');

				$("#ocultarBtn1").addClass('btn-secondary');
				$("#ocultarBtn1").removeClass('btn-primary');

				$("#ocultarBtn3").addClass('btn-secondary');
				$("#ocultarBtn3").removeClass('btn-primary');

				$("#spanTitulo").text("Registros de Ingresos de Proveedores:");

			} else if (idtabla == 'tercerTabla') {
				
				$("#tercerTabla").show();
				$("#primerTabla").hide();
				$("#segundaTabla").hide();

				$("#" + idbtn).addClass('btn-primary');
				$("#" + idbtn).removeClass('btn-secondary');

				$("#ocultarBtn1").addClass('btn-secondary');
				$("#ocultarBtn1").removeClass('btn-primary');

				$("#ocultarBtn2").addClass('btn-secondary');
				$("#ocultarBtn2").removeClass('btn-primary');

				$("#spanTitulo").text("Registros de Tránsitos:");
			}

		}
	</script>
</body>
</html>