<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">
				
				
				<h1 class="">Registros de Ingresos</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-person-walking-arrow-right"></i> Ingresos a
						Planta</li>
				</ol>


				<div class="card mb-4">
					<div class="card-header">

						<div class="d-md-flex justify-content-between">
							<div>
								<i class="fa-solid fa-table mt-2"></i> <span id="spanTitulo">Registros
									de Ingresos de Empleados:</span>
							</div>
							<div>
								<button class="btn btn-primary btn-sm" id="ocultarBtn1"
									onclick="ocultar('primerTabla', 'ocultarBtn1')">Empleados</button>
								<button class="btn btn-secondary btn-sm" id="ocultarBtn2"
									onclick="ocultar('segundaTabla', 'ocultarBtn2')">Proveedores</button>
								<button class="btn btn-secondary btn-sm" id="ocultarBtn3"
									onclick="ocultar('tercerTabla', 'ocultarBtn3')">Tránsitos</button>
							</div>
						</div>

					</div>
					<div class="card-body" id="primerTabla">
						<form id="filtroForm1">
							<div class="row">

								<div class="col-md-3 pb-2">
									<label>Rango Fecha: </label> <input type="text" id="date_range" autocomplete="off"
										name="date_range" class="form-control">

								</div>
								<div class="col-md-3 pb-2">
									<label for="a">Empleado:</label> <select class="form-select"
										id="empleadoSelect1" name="nroLegajo">

									</select>
								</div>
								<div class="col-md-3 pb-2">
									<label for="a">Guardia:</label> <select class="form-select"
										id="usuarioSelect1" name="idUsuario">

									</select>
								</div>
								<div class="col-md-1 d-grid mt-1"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-primary mt-2"
										onclick="filtrarRegistros('filtroForm1', '/views/ingresos-empleado/listar-ingresos/filtrar')">Filtrar</button>
								</div>
								<div class="col-md-1 d-grid mt-1"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-outline-danger mt-2"
										onclick="desfiltrar('table_id')">Desfiltrar</button>
								</div>

							</div>
						</form>
						<hr>

						<div class="mt-4"></div>

						<table id="table_id" class="display">
							<thead>
								<tr>
									<th>Ingreso</th>
									<th>Egreso</th>
									<th>Empleado</th>
									<th>Planta</th>
									<th>Guardia Ingreso</th>
									<th>Guardia Egreso</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>

					<div class="card-body" id="segundaTabla" style="display: none;">
						<form id="filtroForm2">
							<div class="row">

								<div class="col-md-3 pb-2">
									<label>Rango Fecha: </label> <input type="text"
										id="date_range2" name="date_range" class="form-control" autocomplete="off">

								</div>
								<div class="col-md-3 pb-2">
									<label for="a">Proveedor:</label> <select class="form-select"
										id="proveedorSelect2" name="idProveedor">

									</select>
								</div>
								<div class="col-md-3 pb-2">
									<label for="a">Guardia:</label> <select class="form-select"
										id="usuarioSelect2" name="idUsuario">

									</select>
								</div>
								<div class="col-md-1 d-grid mt-2"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-primary mt-2"
									onclick="filtrarRegistros('filtroForm2', '/views/ingresos-proveedor/listar-ingresos/filtrar')"
									>Filtrar</button>
								</div>
								<div class="col-md-1 d-grid mt-1"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-outline-danger mt-2"
										onclick="desfiltrar('table_id2')">Desfiltrar</button>
								</div>

							</div>
						</form>
						<hr>

						<div class="mt-4"></div>

						<table id="table_id2" class="display ">
							<thead>
								<tr>
									<th>Ingreso</th>
									<th>Egreso</th>
									<th>Proveedor</th>
									<th>Planta</th>
									<th>Chofer</th>
									<th>Patente</th>
									<th>Guardia Ingreso</th>
									<th>Guardia Egreso</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>

					<div class="card-body" id="tercerTabla" style="display: none;">

						<form id="filtroForm3">
							<div class="row">

								<div class="col-md-3 pb-2">
									<label>Rango Fecha: </label> <input type="text"
										id="date_range3" name="date_range" class="form-control" value="" autocomplete="off">

								</div>
								<div class="col-md-2 pb-2">
									<label for="a">Empleado:</label> <select class="form-select"
										id="empleadoSelect3" name="nroLegajo">

									</select>
								</div>
								<div class="col-md-2 pb-2">
									<label for="a">Guardia:</label> <select class="form-select"
										id="usuarioSelect3" name="idUsuario">

									</select>
								</div>
								<div class="col-md-2 pb-2">
									<label for="a">Vehículo:</label> <select class="form-select"
										id="vehiculoSelect3" name="idVehiculo">

									</select>
								</div>
								<div class="col-md-1 d-grid mt-2"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-primary mt-2"
										onclick="filtrarRegistros('filtroForm3', '/views/ingresos-empleado/listar-transitos/filtrar')">Filtrar</button>
								</div>
								<div class="col-md-1 d-grid mt-2"
									style="display: flex; align-items: center;">
									<button type="button" class="btn btn-outline-danger mt-2"
										onclick="desfiltrar('table_id3')">Desfiltrar</button>
								</div>

							</div>
						</form>

						<hr>

						<div class="mt-4"></div>

						<table id="table_id3" class="display ">

							<thead>
								<tr>
									<th>Egreso</th>
									<th>Reingreso</th>
									<th>Empleado</th>
									<th>1er Vehiculo</th>
									<th>1er Comentario</th>
									<th>2do Vehiculo</th>
									<th>2do Comentario</th>
									<th>Guardia Egreso</th>
									<th>Guardia Ingreso</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>



				</div>


			</div>

		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script type="text/javascript">
		var datatable1;
		var datatable2;
		var datatable3;
		
		var listaAsistencias;
		var listaIngresosProveedor;
		var listaTransitos;
		
		const languageAux = {
				"decimal" : "",
				"emptyTable" : "No hay información",
				"info" : "Mostrando _START_ a _END_ de _TOTAL_ Registros",
				"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
				"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
				"infoPostFix" : "",
				"thousands" : ",",
				"lengthMenu" : "Mostrar _MENU_ Registros",
				"loadingRecords" : "Cargando...",
				"processing" : "Procesando...",
				"search" : "Buscar:",
				"zeroRecords" : "Sin resultados encontrados",
				"paginate" : {
					"first" : "Primero",
					"last" : "Ultimo",
					"next" : "Siguiente",
					"previous" : "Anterior"
				}
		};
		const columnsDefAux = [ {
			"className" : "dt-center",
			"targets" : "_all"
		} ];
		const columnsAux1 = [
			{
                "data":"ingreso", "render": function (valor){                                   	
                	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDDhhmm(new Date(valor))}</span>${darFormatoFechaCompleta(new Date(valor))}</td>` : `<td>-</td>`;                	
                }, "width": "15%"
            },
            {
                "data":"egreso", "render": function (valor){                    
                	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDDhhmm(new Date(valor))}</span>${darFormatoFechaCompleta(new Date(valor))}</td>` : `<td>-</td>`;                	
                }, "width": "15%"
            },
            {
                "data":"empleado", "render": function (valor){                    
                    return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;                   
                }
            },
            { "data":"planta"},
            {
                "data":"usuarioIngreso", "render": function (valor){                   
                	 return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;                	 
                }
            },
            {
                "data":"usuarioEgreso", "render": function (valor){                   
                	 return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;               	 
                }
            }
		];
		
		const columnsAux2 = [
			{
                "data":"ingreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDDhhmm(new Date(valor))}</span>${darFormatoFechaCompleta(new Date(valor))}</td>` : `<td>-</td>`;
                }
            },
            {
                "data":"egreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDDhhmm(new Date(valor))}</span>${darFormatoFechaCompleta(new Date(valor))}</td>` : `<td>-</td>`;
                }
            },
            {
                "data":"proveedor.proveedor"
            },
            { "data":"planta"},
            { "data":"nombreChofer"},
            { "data":"patenteVehiculo"},
            {
                "data":"usuarioIngreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;
                }
            },
            {
                "data":"usuarioEgreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;
                }
            }
		]; 
		
		const columnsAux3 = [
			{
                "data":"egreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDDhhmm(new Date(valor))}</span>${darFormatoFechaCompleta(new Date(valor))}</td>` : `<td>-</td>`;
                }
            },
            {
                "data":"ingreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<td><span style="display:none;">${darFormatoYYYYMMDDhhmm(new Date(valor))}</span>${darFormatoFechaCompleta(new Date(valor))}</td>` : `<td>-</td>`;
                }
            },
            {
				"data":"empleado", "render": function (valor){
					return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;
                }
            },
            {
				"data":"primerVehiculo", "render": function (valor){
                    return valor != null && valor !== undefined ? `<span>${valor.marca} ${valor.modelo} ${valor.patente}</span>` : `<span>-</span>`;
                }
			},
			{
				"data":"primerComentario", "render": function (valor){
                    return valor != null && valor !== undefined ? `<span>${valor}</span>` : `<span>-</span>`;
                }
			},
			{
				"data":"segundoVehiculo", "render": function (valor){
					return valor != null && valor !== undefined ? `<span>${valor.marca} ${valor.modelo} ${valor.patente}</span>` : `<span>-</span>`;
                }
			},
			{
				"data":"segundoComentario", "render": function (valor){
					return valor != null && valor !== undefined ? `<span>${valor}</span>` : `<span>-</span>`;
                }
			},
            {
                "data":"usuarioEgreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;
                }
            },
            {
                "data":"usuarioIngreso", "render": function (valor){
                	return valor != null && valor !== undefined ? `<span>${valor.apellido} ${valor.nombre}</span>` : `<span>-</span>`;
                }
            }
		]; 
		
		$(document).ready(function() {
						
			jQuery.ajax({
				url : '/views/ingresos-empleado/listar-ingresos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
															
					datatable1 = setDataTable('table_id', data, columnsAux1);
					listaAsistencias = data;
														
				}
			});
			
			jQuery.ajax({
				url : '/views/ingresos-proveedor/listar-ingresos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					datatable2 = setDataTable('table_id2', data, columnsAux2);
					listaIngresosProveedor = data;
				}
			});
					
			jQuery.ajax({
				url : '/views/ingresos-empleado/listar-transitos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
						 
					datatable3 = setDataTable('table_id3', data, columnsAux3);
					listaTransitos = data;
				}
			});
					
			jQuery.ajax({
				url : '/views/usuario/usuarios-activos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.idUsuario}>${dato.apellido} ${dato.nombre}</option>`;
						
					}
					
					$("#usuarioSelect1").html(aux);
					$("#usuarioSelect2").html(aux);
					$("#usuarioSelect3").html(aux);
				}
			});
			
			jQuery.ajax({
				url : '/views/empleado',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.nroLegajo}>${dato.apellido} ${dato.nombre}</option>`;
						
					}
					
					$("#empleadoSelect1").html(aux);					
					$("#empleadoSelect3").html(aux);
				}
			});
			
			jQuery.ajax({
				url : '/views/proveedor',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
					
					for(let dato of data){
						
						aux += `<option value=${dato.idProveedor}>${dato.proveedor}</option>`;
						
					}
					
					$("#proveedorSelect2").html(aux);					

				}
			});
			
			jQuery.ajax({
				url : '/views/vehiculo/listar-todos',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					let aux = '<option value=-1>Todos</option>';
														
					data.forEach(v => aux += `<option value=${v.idVehiculo}>${v.marca} ${v.modelo} - Patente: ${v.patente}</option>`);
					
					$("#vehiculoSelect3").html(aux);
				}
			});		
			
		});

		function ocultar(idtabla, idbtn) {

			if (idtabla == 'primerTabla') {
				$("#primerTabla").show();
				$("#segundaTabla").hide();
				$("#tercerTabla").hide();

				$("#" + idbtn).addClass('btn-primary');
				$("#" + idbtn).removeClass('btn-secondary');

				$("#ocultarBtn2").addClass('btn-secondary');
				$("#ocultarBtn2").removeClass('btn-primary');

				$("#ocultarBtn3").addClass('btn-secondary');
				$("#ocultarBtn3").removeClass('btn-primary');

				$("#spanTitulo").text("Registros de Ingresos de Empleados:");

			} else if (idtabla == 'segundaTabla') {
				
				$("#segundaTabla").show();
				$("#primerTabla").hide();
				$("#tercerTabla").hide();

				$("#" + idbtn).addClass('btn-primary');
				$("#" + idbtn).removeClass('btn-secondary');

				$("#ocultarBtn1").addClass('btn-secondary');
				$("#ocultarBtn1").removeClass('btn-primary');

				$("#ocultarBtn3").addClass('btn-secondary');
				$("#ocultarBtn3").removeClass('btn-primary');

				$("#spanTitulo").text("Registros de Ingresos de Proveedores:");

			} else if (idtabla == 'tercerTabla') {
				
				$("#tercerTabla").show();
				$("#primerTabla").hide();
				$("#segundaTabla").hide();

				$("#" + idbtn).addClass('btn-primary');
				$("#" + idbtn).removeClass('btn-secondary');

				$("#ocultarBtn1").addClass('btn-secondary');
				$("#ocultarBtn1").removeClass('btn-primary');

				$("#ocultarBtn2").addClass('btn-secondary');
				$("#ocultarBtn2").removeClass('btn-primary');

				$("#spanTitulo").text("Registros de Tránsitos:");
			}

		}
		
		function filtrarRegistros(filtroForm, urlAux){
									
			jQuery.ajax({
				url : urlAux,
				type : "GET",
				dataType : "json",
				data: $('#' + filtroForm).serialize(),
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					
					if(filtroForm == "filtroForm1"){
						datatable1.clear();
						datatable1.destroy();
												
						datatable1 = setDataTable('table_id', data, columnsAux1);
					}
					if(filtroForm == "filtroForm2"){
						datatable2.clear();
						datatable2.destroy();
						
						datatable2 = setDataTable('table_id2', data, columnsAux2);
					}					
					if(filtroForm == "filtroForm3"){
						datatable3.clear();
						datatable3.destroy();
						
						datatable3 = setDataTable('table_id3', data, columnsAux3);
					}
					
					
				}
			});	 
			
		}
				
		function setDataTable(tabla, datos, columnsAux){
						
			return $('#' + tabla).DataTable({
				data: datos,
				language : languageAux,
				"columnDefs" : columnsDefAux,
				"autoWidth" : false,
				columns: columnsAux
				
			}).order( [0, 'desc'] ).draw();				
		}
		
		function desfiltrar(tabla){
			
			if(tabla = 'table_id'){
				datatable1.clear();
				datatable1.destroy();
				
				datatable1 = setDataTable('table_id', listaAsistencias, columnsAux1);
			}
			
			if(tabla = 'table_id2'){
				datatable2.clear();
				datatable2.destroy();
				
				datatable2 = setDataTable('table_id2', listaIngresosProveedor, columnsAux2);
			}
			
			if(tabla = 'table_id3'){
				datatable3.clear();
				datatable3.destroy();
				
				datatable3 = setDataTable('table_id3', listaTransitos, columnsAux3);
			} 
			
		}
		
	
	</script>
</body>
</html>