<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<div th:replace="plantilla/template :: mensajes"></div>

				<h1 class="">Administrar Empleados</h1>
				<ol class="breadcrumb mb-3">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-people-group"></i> Empleados</li>
				</ol>

				<div class="row d-md-flex justify-content-center">

					<div class="col-8" id="editarCard" style="display: none;">

						<form th:object="${empleado}" id="formId" method="post"
							enctype="multipart/form-data">

							<div class="card">
								<div class="card-header bg-dark text-white" id="tituloCard">Editar
									Empleado:</div>

								<div class="card-body row">

									<div class="col-6">


										<div>


											<label>Número de Legajo:</label> <input type="number"
												required th:field="*{nroLegajo}" id="editLegajo"
												class="form-control"> <input type="number"
												id="hiddenLegajo" disabled class="form-control"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('nroLegajo')}"
												th:errors="*{nroLegajo}" id="errorLegajo"></small>
										</div>
										<div>
											<label class="mt-1">Nombre:</label> <input id="editNombre"
												th:field="*{nombre}" type="text" class="form-control" required>
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
												id="errorNombre"></small>
										</div>
										<div>
											<label class="mt-1">Apellido:</label> <input required
												id="editApellido" type="text" class="form-control"
												th:field="*{apellido}"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('apellido')}"
												th:errors="*{apellido}" id="errorApellido"></small>
										</div>


										<label class="mt-1">Sector de Trabajo:</label> <select
											id="editSector" class="form-select" name="sector">

										</select> <label class="mt-1">Activo:</label> <select id="editActivo"
											name="activo" class="form-select">
											<option value=1 selected>Sí</option>
											<option value=0>No</option>
										</select>


									</div>
									<div class="col-6">

										<label>Foto del Empleado:</label> <input type="file"
											id="editImagen" class="form-control"
											onchange="showPreview(event);" name="file">

										<div class="d-md-flex justify-content-center mt-4 g-0 ">
											<div class="col-md-6">
												<img id="file-ip-1-preview" src="/images/anonimo.jpg"
													width="100%" height="auto"
													onerror="this.src='/images/anonimo.jpg';">
											</div>
										</div>

									</div>

								</div>


								<div
									class="card-footer d-md-flex justify-content-between bg-dark text-white">
									<button class="btn btn-secondary" type="button"
										onclick="cerrarNuevo()">Cancelar</button>
									<button class="btn btn-primary" type="submit">Guardar</button>
								</div>

							</div>

						</form>

					</div>

				</div>

				<div class="card mb-4 mt-3">
					<div class="card-header d-md-flex justify-content-between">
						<div class="">
							<i class="fa-solid fa-table mt-2"></i> Listado de Empleados:
						</div>
						<div>
							<button class="btn btn-primary btn-sm" onclick="nuevoCard()">Nuevo
								Empleado</button>
						</div>
					</div>
					<div class="card-body">

						<table id="table_id" class="display">
							<thead>
								<tr>
									<th>Legajo</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Sector de Trabajo</th>
									<th>Activo</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>


							</tbody>
						</table>

					</div>
				</div>


			</div>

		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		var datatable;
		const card1 = document.getElementById("nuevoCard");
		let sectoresTrabajo;
		let error = /*[[${error}]]*/'default';
		let empleado = /*[[${empleado}]]*/'default';
		let listaEmpleados = /*[[${listaEmpleados}]]*/'default';
		
		let empleadoSelec;
		
		if (error) {
			nuevoCard();					
		}

		$(document).ready(function() {
									
			datatable = $('#table_id').DataTable({
				data: listaEmpleados,
				"autoWidth" : false,
				language : {
					"decimal" : "",
					"emptyTable" : "No hay información",
					"info" : "Mostrando _START_ a _END_ de _TOTAL_ Empleados",
					"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
					"infoPostFix" : "",
					"thousands" : ",",
					"lengthMenu" : "Mostrar _MENU_ Empleados",
					"loadingRecords" : "Cargando...",
					"processing" : "Procesando...",
					"search" : "Buscar:",
					"zeroRecords" : "Sin resultados encontrados",
					"paginate" : {
						"first" : "Primero",
						"last" : "Ultimo",
						"next" : "Siguiente",
						"previous" : "Anterior"
					}
				},
				"columnDefs" : [ {
					"className" : "dt-center",
					"targets" : "_all"
				} ]
				,
				columns: [
                    { data: 'nroLegajo' },
                    { data: 'nombre' },
                    { data: 'apellido' },
                    { data: 'sector.sector' },
                    {
                        "data":"activo", "render": function (valor){
                            if(valor) return '<span>Sí</span>';
                            else return '<span>No</span>';
                        }
                    },
                    {
                    "defaultContent": '<button type="button" class=" btn btn-success btn-sm btn-editar"><i class="fas fa-pen"></i></button>',
                    "orderable": false,
                    "searcheble": false,
                    "width": "90px"
                    }
                ]
			});
			
			jQuery.ajax({
				url : '/views/sector-trabajo',
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
															
					$("#editSector").html(function() {
																		
						let aux = '';
						for(let sector of data){
														
							aux += `<option value=${sector.idSector}>${sector.sector}</option>`;
						}
						
						return aux;
					});
					
					sectoresTrabajo = data;
					
				}
			});
			
			

		});

		function nuevoCard() {

			$("#editLegajo").val("");
			$("#editLegajo").show();
			$("#editNombre").val("");
			$("#editApellido").val("");
			$("#editSector").val(1);
			$("#editActivo").val(1);

			$("#tituloCard").text("Crear Nuevo Empleado");
			$("#file-ip-1-preview").attr('src', "/images/anonimo.jpg");
			$('#formId').attr('action', '/views/empleado/crear');
			
			$("#hiddenLegajo").hide();
			$("#editarCard").show();

		}

		function cerrarNuevo() {

			$("#editImagen").val("");
			$("#file-ip-1-preview").attr('src', "/images/anonimo.jpg");

			$("#editarCard").hide();
		}

		$("#table_id tbody").on("click", '.btn-editar', function() {
			let filaSeleccionada = (this).closest("tr");
			let data = datatable.row(filaSeleccionada).data();
			
			
			$("#hiddenLegajo").val(data.nroLegajo);
			$("#hiddenLegajo").show();
			$("#editLegajo").hide();
			
			
			$("#editLegajo").val(data.nroLegajo);
			$("#editNombre").val(data.nombre);
			$("#editApellido").val(data.apellido);
			
			for(let sector of sectoresTrabajo){
				
				if(data.sector.idSector == sector.idSector){
					$("#editSector").val(sector.idSector);
				}
				
			}
			

			$("#editActivo").val(data.activo ? 1 : 0);

			$("#tituloCard").text("Editar Empleado");

			
			if (data.imagen != null && data.imagen != "Sin imagen") {
				
				let imagenAux = data.imagen.replace(/\s/g, "%20");
				let imagenEmpleado= `/recursos/${imagenAux}` ;
				
				$("#file-ip-1-preview").attr('src', imagenEmpleado);
				
			}else{
				$("#file-ip-1-preview").attr('src', "/images/anonimo.jpg");
			}
			
						
			$("#errorLegajo").hide();
			$("#errorNombre").hide();
			$("#errorApellido").hide();
			$('#formId').attr('action', '/views/empleado/editar');
			
			
			$("#editarCard").show();
			
			window.scroll(0, 0);
		});
										
		function showPreview(event) {

			if (event.target.files.length > 0) {
				var src = URL.createObjectURL(event.target.files[0]);
				var preview = document.getElementById("file-ip-1-preview");
				preview.src = src;
				preview.onerror = "this.onerror=null;this.src='/images/anonimo.jpg';"
			}
		}
	</script>
</body>
</html>