<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>

		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">

				<h1 class="">Resumen</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
				<div class="row">
					<div class="col-xl-3 col-md-6">
						<div class="card bg-primary text-white mb-4">
							<div class="card-body">
								Empleados en Planta: <span id="cantEmpleadosEnPlanta">0</span>
							</div>

							<div class="card-footer">
								<div class="row">
									<a class="btn btn-sm text-white col-6" type="button"
										th:href="@{/views/ingresos-empleado}">Ingreso</a> <a
										class="btn btn-sm text-white col-6" type="button"
										th:href="@{/views/ingresos-empleado/egreso}">Egreso</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-warning text-black mb-4">
							<div class="card-body">
								Empleados en Tránsito: <span id="cantEmpleadosEnTransito">0</span>
							</div>
							<div class="card-footer">
								<div class="row">
									<a class="btn  btn-sm col-6" type="button"
										th:href="@{/views/ingresos-empleado/egreso}">Reingreso</a> <a
										class="btn  btn-sm col-6" type="button"
										th:href="@{/views/ingresos-empleado/egreso}">Egreso</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-secondary text-white mb-4">
							<div class="card-body">
								Proveedores en Planta: <span id="cantProveedoresEnPlanta"></span>
							</div>

							<div class="card-footer">
								<div class="row">
									<a class="btn  btn-sm text-white col-6" type="button"
										th:href="@{/views/ingresos-proveedor}">Ingreso</a> <a
										class="btn  btn-sm text-white col-6" type="button"
										th:href="@{/views/ingresos-proveedor/egreso}">Egreso</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-danger text-white mb-4">
							<div class="card-body">
								Rondas Diarias: <span id="cantRondas">0</span>
							</div>

							<div class="card-footer">
								<div class="row">
									<a class="btn  btn-sm text-white col-12" type="button"
										th:href="@{/views/ronda}">Registrar Ronda</a>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">

					<div class="col-6">
						<div class="card mb-4">
							<div class="card-header">
																
								<div class="d-md-flex justify-content-between">
									<div>
										<i class="fa-solid fa-calendar-days"></i> Eventos Próximos:
									</div>
									
									<a th:href="@{/views/evento/ocurrencia}" style="color:grey"><i class="fa-solid fa-circle-arrow-right"></i></a>
								</div>
								
							</div>
																												
							<div class="card-body" style="overflow-x: hidden; overflow-y: auto; height: 40vh;">
								<ul>
									<li>Evento 1</li>
									<li>Evento 2</li>
									<li>Evento 3</li>
									<li>Evento 4</li>
									<li>Evento 5</li>
									<li>Evento 6</li>
									<li>Evento 7</li>

								</ul>

							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="card mb-4">
							<div class="card-header">

								<div class="d-md-flex justify-content-between">
									<div>
										<i class="fa-solid fa-boxes-stacked"></i> Autorizaciones de
										Retiro:
									</div>
									
									<a th:href="@{/views/retiro-material/autorizaciones}" style="color:grey"><i class="fa-solid fa-circle-arrow-right"></i></a>
								</div>

							</div>
							<div class="card-body"
								style="overflow-x: hidden; overflow-y: auto; height: 40vh;">
								<ul id="autId">

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		
	
		jQuery.ajax({
			url : '/views/ingresos-empleado/cantidad-ingresados',
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			success : function(data) {
	
				$("#cantEmpleadosEnPlanta").text(data.cant_empleados_ingresados);
								
			}
		});
		
		jQuery.ajax({
			url : '/views/ingresos-empleado/cantidad-transitos',
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			success : function(data) {
	
				$("#cantEmpleadosEnTransito").text(data.cant_empleados_transito);
								
			}
		});	
	
		jQuery.ajax({
			url : '/views/ingresos-proveedor/cantidad-ingresados',
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			success : function(data) {

				$("#cantProveedoresEnPlanta").text(data.cant_proveedores_ingresados);
								
			}
		});
		
		jQuery.ajax({
			url : '/views/ronda/cantidad-rondas-diarias',
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			success : function(data) {

				$("#cantRondas").text(data.cant_rondas);
								
			}
		});
		
		jQuery.ajax({
			url : '/views/retiro-material/autorizaciones/listar',
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			success : function(data) {

				console.log(data);
				$("#autId").html(function(){
					let aux = '';
					
					for(let aut of data){
						
						let d = new Date(aut.fechaLimite);
						dformat = `${
						    d.getDate().toString().padStart(2, '0')}/${
						    (d.getMonth()+1).toString().padStart(2, '0')}/${
						    d.getFullYear().toString().padStart(4, '0')}`;

						    
						aux += `<li>${dformat} - Retira: ${aut.empleado != null ? aut.empleado.nombre + ' ' + aut.empleado.apellido : 'Retiro Externo'}
						 - Autoriza: ${aut.usuario.nombre} ${aut.usuario.apellido} - Materiales: ${formatMaterial(aut.materiales)}
						</li>`;
					}
					
					return aux;
				});								
			}
		});
		
		function formatMaterial(lista){
			let materiales = '';
			
			for(let mat of lista){
				materiales += mat.material + ' ';
			}
			
			return materiales;
		}
		
	</script>
</body>
</html>