<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>
	
	<div id="layoutSidenav">
	
		<div th:replace="plantilla/template :: sidenav_nav"> </div>
		
		<div id="layoutSidenav_content">
			
			<div class="container-fluid px-4 mt-3">
				 
				 <div th:replace="plantilla/template :: mensajes"></div>

				<h1 class="">Administrar Materiales</h1>
				<ol class="breadcrumb mb-3">
					<li class="breadcrumb-item active"><i class="fa-solid fa-boxes"></i>
						Materiales</li>
				</ol>
				
				
				<div class="row d-md-flex justify-content-center">

					<div class="col-8" id="editarCard" style="display: none;">
						<form th:object="${materialAux}" method="post" id="formId">
							<div class="card">
								<div class="card-header bg-dark text-white" id="tituloCard">Editar
									Material:</div>

								<div class="card-body row mb-2">

									<div class="col-6 mt-3" >
										
										<input type="hidden" id="IdInput" value="0" th:field="*{idMaterial}" >
										
										<label>Material:</label> <input type="text" id="editMaterial" th:field="*{material}" required
											class="form-control"><label class="mt-2">Activo:</label>
										<select id="editActivo" class="form-select" name="activo">
											<option value=1 selected>Sí</option>
											<option value=0>No</option>
										</select>


									</div>
									<div class="col-6 mt-2">

										<div class="d-md-flex justify-content-center g-0 ">
											<div class="col-md-6">
												<img id="file-ip-1-preview" src="/images/materiales.jpg"
													width="100%" height="auto">
											</div>
										</div>

									</div>

								</div>


								<div
									class="card-footer d-md-flex justify-content-between bg-dark text-white">
									<button class="btn btn-secondary" type="button" onclick="cerrarNuevo()">Cancelar</button>
									<button class="btn btn-primary" type="submit">Guardar</button>
								</div>

							</div>
						</form>
					</div>

				</div>
				
				
				<div class="card mb-4 mt-3">
					<div class="card-header d-md-flex justify-content-between">
						<div class="">
							<i class="fa-solid fa-table mt-2"></i> Listado de Materiales:
						</div>
						<div>
							<button class="btn btn-primary btn-sm" onclick="nuevoCard()">Nuevo
								Material</button>
						</div>
					</div>
					<div class="card-body">

						<table id="table_id" class="display">
							<thead>
								<tr>
									<th>Material</th>
									<th>Activo</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>

					</div>
				</div>
				
				
			</div>
			
		</div>
	
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
	<script th:inline="javascript">
		
	var datatable;

	$(document).ready(function() {
		
		let listaMateriales  = /*[[${listaMateriales}]]*/'default';
		console.log()
		datatable = $('#table_id').DataTable({
			data: listaMateriales,
			"autoWidth" : false,
			language : {
				"decimal" : "",
				"emptyTable" : "No hay información",
				"info" : "Mostrando _START_ a _END_ de _TOTAL_ Materiales",
				"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
				"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
				"infoPostFix" : "",
				"thousands" : ",",
				"lengthMenu" : "Mostrar _MENU_ Materiales",
				"loadingRecords" : "Cargando...",
				"processing" : "Procesando...",
				"search" : "Buscar:",
				"zeroRecords" : "Sin resultados encontrados",
				"paginate" : {
					"first" : "Primero",
					"last" : "Ultimo",
					"next" : "Siguiente",
					"previous" : "Anterior"
				}
			},
			"columnDefs" : [ {
				"className" : "dt-center",
				"targets" : "_all"
			} ]
			,
			columns: [
                { data: 'material' },
                {
                    "data":"activo", "render": function (valor){
                        if(valor) return '<span>Sí</span>';
                        else return '<span>No</span>';
                    }
                },
                {
                "defaultContent": '<button type="button" class=" btn btn-success btn-sm btn-editar"><i class="fas fa-pen"></i></button>',
                "orderable": false,
                "searcheble": false,
                "width": "90px"
                }
            ]
		});
	});	
	
	function nuevoCard() {
		
		$("#IdInput").val(0);
		$("#editMaterial").val("");

		$("#editActivo").val(1);

		$("#tituloCard").text("Crear Nuevo Material");
		$('#formId').attr('action', '/views/material/crear');
		
		$("#editarCard").show();

	}
	
	$("#table_id tbody").on("click", '.btn-editar', function() {
		let filaSeleccionada = (this).closest("tr");
		let data = datatable.row(filaSeleccionada).data();
		
		$("#IdInput").val(data.idMaterial);
		$("#editMaterial").val(data.material);
		$("#editActivo").val(data.activo ? 1 : 0);

		$("#tituloCard").text("Editar Material");
		
		$('#formId').attr('action', '/views/material/editar');
		
		$("#editarCard").show();
	});
	
	function cerrarNuevo() {

		$("#editarCard").hide();
		
	}
	</script>
</body>
</html>