<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body class="sb-nav-fixed">

	<header th:replace="plantilla/template :: header"></header>

	<div id="layoutSidenav">

		<div th:replace="plantilla/template :: sidenav_nav"></div>


		<div id="layoutSidenav_content">

			<div class="container-fluid px-4 mt-3">


				<!-- MENSAJES -->
				<div id="mensaje">
				</div>


				<h1 class="">Administrar Sectores de Trabajo</h1>
				<ol class="breadcrumb mb-3">
					<li class="breadcrumb-item active"><i
						class="fa-solid fa-briefcase"></i> Sectores de Trabajo</li>
				</ol>

				<div class="row d-md-flex justify-content-center" unselectable="on"
					onselectstart="return false;">
					<div class="col-9" id="nuevoCard" style="display: none;">

						<form id="form1" method="post">
							<div class="card ">
								<div class="card-header">Nuevo Sector de Trabajo</div>
								<div class="card-body row">

									<div class="col-6">
										<div class="mb-3">
											<label for="input1" class="form-label">Sector de
												Trabajo:</label> <input type="text" class="form-control" id="input1"
												placeholder="Ej. Administración" name="sector">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="input2" class="form-label">Activo:</label> <select
												class="form-select" id="input2" name="activo">
												<option value=1>Sí</option>
												<option value=0>No</option>
											</select>
										</div>
									</div>

									<div class="mt-2" style="display: inline">
										<span style="font-size: 20px">Áreas de trabajo: </span> <a
											style="cursor: pointer; margin-left: 10px;"
											onclick="quitarArea()"><i
											class="fa-solid fa-circle-minus"></i></a> <a
											style="cursor: pointer; margin: auto;" onclick="nuevaArea()"><i
											class="fa-solid fa-circle-plus"></i></a>
									</div>

									<div class="row " id="cardAreas"></div>

								</div>
								<div class="card-footer d-flex justify-content-between">
									<button type="button" class="btn btn-secondary"
										onclick="cancelar()">Cancelar</button>
									<button type="submit" class="btn btn-primary">Crear</button>
								</div>
							</div>
						</form>
					</div>

					<div class="col-9" id="editarCard" style="display: none;">

						<form id="form2" method="post">
							<div class="card ">
								<div class="card-header">Nuevo Sector de Trabajo</div>
								<div class="card-body row">

									<input type="hidden" id="idSectorInput" value="0"
										name="idSectorEdit">

									<div class="col-6">
										<div class="mb-3">
											<label for="editSector" class="form-label">Sector de
												Trabajo:</label> <input type="text" class="form-control"
												id="editSector" placeholder="Ej. Administración"
												name="sectorEdit">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="editActivo" class="form-label">Activo:</label> <select
												class="form-select" id="editActivo" name="activoEdit">
												<option value=1>Sí</option>
												<option value=0>No</option>
											</select>
										</div>
									</div>

									<div class="mt-2" style="display: inline">
										<span style="font-size: 20px">Áreas de trabajo: </span> <a
											style="cursor: pointer; margin-left: 10px;"
											onclick="quitarArea2()"><i
											class="fa-solid fa-circle-minus"></i></a> <a
											style="cursor: pointer; margin: auto;" onclick="nuevaArea2()"><i
											class="fa-solid fa-circle-plus"></i></a>
									</div>

									<div class="row " id="cardAreasEditar"></div>

								</div>
								<div class="card-footer d-flex justify-content-between">
									<button type="button" class="btn btn-secondary"
										onclick="cancelar()">Cancelar</button>
									<button type="submit" class="btn btn-primary">Editar</button>
								</div>
							</div>
						</form>
					</div>

				</div>

				<div class="card mb-4 mt-3">
					<div class="card-header d-md-flex justify-content-between">
						<div class="">
							<i class="fa-solid fa-table mt-2"></i> Sectores de Trabajo:
						</div>
						<div>
							<button type="button" class="btn btn-primary btn-sm"
								onclick="nuevoCard()">Nuevo Sector</button>
						</div>
					</div>
					<div class="card-body">

						<table id="table_id" class="display">
							<thead>
								<tr>
									<th>Sector</th>
									<th>Áreas de trabajo</th>
									<th>Activo</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>

					</div>
				</div>

			</div>

		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

	<script th:inline="javascript">
		var datatable;
		var areasNuevoCount = 0;
		var areasEditarCount = 0;
		var areasSelectLength = 0;
		
		$(document).ready(function() {
		
			let listaSectores = /*[[${listaSectores}]]*/'default';
			
			cargarTabla(listaSectores);
						
		});
		
		
		const form = document.getElementById('form1');
        form.addEventListener('submit', handleSubmit);
        
        function handleSubmit(event) {
            event.preventDefault();

            const data = new FormData(event.target);
            
            let objetoAux = {};
            objetoAux.sector = data.get('sector');
            objetoAux.activo = parseInt(data.get('activo'));
            objetoAux.areas = [];
			if(areasNuevoCount > 0){
				
				for(let i=0; i < areasNuevoCount; i++){
	            	objetoAux.areas.push({
	                      "nombre" : data.get(`nombre${i}`),
	                      "descripcion": data.get(`descripcion${i}`),
	                      "activo": parseInt(data.get(`activo${i}`))
	                });
	            }
				
			}
            
            
			var oReq = new XMLHttpRequest();
			oReq.open("POST", "/views/sector-trabajo/administrar/crear", true);
			oReq.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			oReq.onload = function(oEvent) {
				 if (oReq.status == 200) {
				    	
				    	var listaSectorNueva = JSON.parse(oReq.responseText);
				    	
				    	datatable.clear();
						datatable.destroy();
				    	cargarTabla(listaSectorNueva);
				    	
				    	document.getElementById("mensaje").innerHTML=`
				    		<div
							class="alert alert-success alert-dismissable gap-2 d-md-flex justify-content-between"
							role="alert">
								<label id="mensajeSuccess">Sector de trabajo creado exitosamente.</label>
								<button type="button" class="btn-close mr-auto"
									data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
				    	`;
				    	cancelar();
				    	window.scroll(0, 0);	
				    } else {
				    	document.getElementById("mensaje").innerHTML=`
				    		<div
							class="alert alert-danger alert-dismissable gap-2 d-md-flex justify-content-between"
							role="alert" style="display: none;">
								<label id="mensajeError">No se pudo crear el nuevo sector.</label>
								<button type="button" class="btn-close mr-auto"
									data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
				    	`;
				    }
			};
		
			
			oReq.send(JSON.stringify(objetoAux));

        }
		
		
		function nuevaArea(){

			let areaDiv = document.getElementById('cardAreas');
			let container = document.createElement("div");
			container.className = "col-6";
			container.setAttribute("id", `areaNueva${areasNuevoCount}`);
			
			container.innerHTML = `
				<hr>
				<div class="mb-2">
					<label for="inputNombreArea" class="form-label">Nombre
						del área:</label> <input type="text" class="form-control"
						id="inputNombreArea" placeholder="Ej. NOVA"  name="nombre${areasNuevoCount}">
				</div>
				<div class="mb-2">
					<label for="inputDescripcionArea" class="form-label">Descripción:</label>
					<input type="text" class="form-control" name="descripcion${areasNuevoCount}"
						id="inputDescripcionArea">
				</div>
				<div class="mb-3">
					<label for="inputActivo2" class="form-label">Activo:</label>
					<select class="form-select" id="inputActivo2" name="activo${areasNuevoCount}">
						<option value=1>Sí</option>
						<option value=0>No</option>
					</select>
				</div>				
			`;
			
			areasNuevoCount++;
			areaDiv.appendChild(container);
		}
		
		function quitarArea(){
			
			if(areasNuevoCount > 0){
				document.getElementById(`areaNueva${areasNuevoCount-1}`).remove();
				areasNuevoCount--;
			} 						
		}
		
		function nuevoCard(){
			$('#cardAreas').html('');
			$('#input1').val('');
			$('#input2').val(1);
			$('#nuevoCard').show();
			
		}
		
		function cancelar(){
			$('#nuevoCard').hide();
			$('#editarCard').hide();
		}
		
		$("#table_id tbody").on("click", '.btn-editar', function() {
			
			let filaSeleccionada = (this).closest("tr");
			let data = datatable.row(filaSeleccionada).data();
			$("#editarCard").show();
			
			$("#idSectorInput").val(data.idSector);
			$("#editSector").val(data.sector);
			$("#editActivo").val(data.activo ? 1 : 0);

			// aca va el código para ver las areas de trabajo
			let cardEditar = document.getElementById("cardAreasEditar");
			cardEditar.innerHTML = '';
			
			areasEditarCount = 0;
			areasSelectLength = data.areas.length;
			data.areas.forEach(a => {
				
				let container = document.createElement("div");
				container.className = "col-6";
				container.setAttribute("id", `areaEditarNueva${areasEditarCount}`);
				
				container.innerHTML += `
					<hr>
					<input type="hidden" id="idArea${areasEditarCount}" name="idArea${areasEditarCount}">
					<div class="mb-2">
						<label for="inputNombreArea${areasEditarCount}" class="form-label">Nombre
							del área:</label> <input type="text" class="form-control"
							id="inputNombreArea${areasEditarCount}" placeholder="Ej. NOVA"  name="nombreEditar${areasEditarCount}">
					</div>
					<div class="mb-2">
						<label for="inputDescripcionArea${areasEditarCount}" class="form-label">Descripción:</label>
						<input type="text" class="form-control" name="descripcionEditar${areasEditarCount}"
							id="inputDescripcionArea${areasEditarCount}">
					</div>
					<div class="mb-3">
						<label for="activoEditar${areasEditarCount}" class="form-label">Activo:</label>
						<select class="form-select" id="activoEditar${areasEditarCount}" name="activoEditar${areasEditarCount}">
							<option value=1>Sí</option>
							<option value=0>No</option>
						</select>
					</div>
				`;
				
				
				cardEditar.appendChild(container);
				$(`#idArea${areasEditarCount}`).val(a.idArea);
				$(`#inputNombreArea${areasEditarCount}`).val(a.nombreArea);
				$(`#inputDescripcionArea${areasEditarCount}`).val(a.descripcion);
				$(`#activoEditar${areasEditarCount}`).val(a.activo ? 1 : 0);
				
				areasEditarCount++;
			});
			
			window.scroll(0, 0);			
		});
		
		const formEdit = document.getElementById('form2');
        formEdit.addEventListener('submit', handleSubmitEdit);
        
        function handleSubmitEdit(event) {
            event.preventDefault();

            const data = new FormData(event.target);
            
            let objetoAux = {};
            objetoAux.idSector = parseInt(data.get('idSectorEdit'));
            objetoAux.sector = data.get('sectorEdit');
            objetoAux.activo = parseInt(data.get('activoEdit'));
            objetoAux.areas = [];
            
			if(areasEditarCount > 0){
				
				for(let i=0; i < areasEditarCount; i++){
	            	objetoAux.areas.push({
	            		  "idArea" : parseInt(data.get(`idArea${i}`)),
	                      "nombre" : data.get(`nombreEditar${i}`),
	                      "descripcion": data.get(`descripcionEditar${i}`),
	                      "activo": parseInt(data.get(`activoEditar${i}`))
	                });
	            }
				
			}
			
			var oReq = new XMLHttpRequest();
			oReq.open("POST", "/views/sector-trabajo/administrar/editar", true);
			oReq.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			oReq.onload = function(oEvent) {
			    if (oReq.status == 200) {
			    	
			    	var listaSectorNueva = JSON.parse(oReq.responseText);
			    	
			    	datatable.clear();
					datatable.destroy();
			    	cargarTabla(listaSectorNueva);
			    	
			    	document.getElementById("mensaje").innerHTML=`
			    		<div
						class="alert alert-success alert-dismissable gap-2 d-md-flex justify-content-between"
						role="alert">
							<label id="mensajeSuccess">Sector de trabajo editado exitosamente.</label>
							<button type="button" class="btn-close mr-auto"
								data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
			    	`;
			    	cancelar();
			    	window.scroll(0, 0);	
			    } else {
			    	document.getElementById("mensaje").innerHTML=`
			    		<div
						class="alert alert-danger alert-dismissable gap-2 d-md-flex justify-content-between"
						role="alert" style="display: none;">
							<label id="mensajeError">No se pudo editar el nuevo sector.</label>
							<button type="button" class="btn-close mr-auto"
								data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
			    	`;
			    }
			};
			
			oReq.send(JSON.stringify(objetoAux));
        }
		
        function nuevaArea2(){
        	
        	let cardEditar = document.getElementById("cardAreasEditar");
        	let container = document.createElement("div");
			container.className = "col-6";
			container.setAttribute("id", `areaEditarNueva${areasEditarCount}`);
			
			container.innerHTML = `
				<hr>
			
				<input type="hidden" id="idArea${areasEditarCount}" name="idArea${areasEditarCount}" value="0">
				<div class="mb-2">
					<label for="inputNombreArea" class="form-label">Nombre
						del área:</label> <input type="text" class="form-control"
						id="inputNombreArea" placeholder="Ej. NOVA"  name="nombreEditar${areasEditarCount}">
				</div>
				<div class="mb-2">
					<label for="inputDescripcionArea" class="form-label">Descripción:</label>
					<input type="text" class="form-control" name="descripcionEditar${areasEditarCount}"
						id="inputDescripcionArea">
				</div>
				<div class="mb-3">
					<label for="inputActivo2" class="form-label">Activo:</label>
					<select class="form-select" id="inputActivo2" name="activoEditar${areasEditarCount}">
						<option value=1>Sí</option>
						<option value=0>No</option>
					</select>
				</div>				
			`;
			
			areasEditarCount++;
			cardEditar.appendChild(container);
        }
        
		function quitarArea2(){
			
			if(areasEditarCount > areasSelectLength){
				document.getElementById(`areaEditarNueva${areasEditarCount-1}`).remove();
				areasEditarCount--;
			} 						
		}
		
		
		function cargarTabla(lista){
			
			
			datatable = $('#table_id').DataTable({
				data: lista,
				"autoWidth" : false,
				language : {
					"decimal" : "",
					"emptyTable" : "No hay información",
					"info" : "Mostrando _START_ a _END_ de _TOTAL_ Sectores",
					"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
					"infoPostFix" : "",
					"thousands" : ",",
					"lengthMenu" : "Mostrar _MENU_ Sectores",
					"loadingRecords" : "Cargando...",
					"processing" : "Procesando...",
					"search" : "Buscar:",
					"zeroRecords" : "Sin resultados encontrados",
					"paginate" : {
						"first" : "Primero",
						"last" : "Ultimo",
						"next" : "Siguiente",
						"previous" : "Anterior"
					}
				},
				"columnDefs" : [ {
					"className" : "dt-center",
					"targets" : "_all"
				}],
				columns: [
                    { data: 'sector' },
                    {
                        "data":"areas", "render": function (valor){                        	
                        	if(valor.length > 0){
                        		let aux = '';
                        		valor.forEach(area => {                        			
                        			aux += area.nombreArea + (area.activo ? '' : '(inactivo)') + ' - ';
                        		});
                        		aux = aux.substring(0, aux.length - 2);
                        		return `<span>${aux}</span>`;
                        	}else{
                        		return '<span>-</span>';
                        	}	
        
                        }
                    },
                    {
                        "data":"activo", "render": function (valor){
                            if(valor) return '<span>Sí</span>';
                            else return '<span>No</span>';
                        }
                    },
                    {
                    "defaultContent": '<button type="button" class=" btn btn-success btn-sm btn-editar"><i class="fas fa-pen"></i></button>',
                    "orderable": false,
                    "searcheble": false,
                    "width": "90px"
                    }
                ]
			});
		}
	</script>
</body>
</html>